force-app/main/default/flows/Account_populate_HCP_Agreement_Attachment_ID.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>used to automate sending of Fax</description>
    <formulas>
        <name>formFiveMinutesLessCreateDate</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} - 5/1440</expression>
    </formulas>
    <interviewLabel>Account populate HCP Agreement Attachment ID {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account populate HCP Agreement Attachment (File) ID</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get LatestPublishedVersionId from Content Document</description>
        <name>Lookup_Content_Document</name>
        <label>Lookup Content Document</label>
        <locationX>103</locationX>
        <locationY>271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCDId</elementReference>
            </value>
        </filters>
        <object>ContentDocument</object>
        <outputAssignments>
            <assignToReference>varLastPublishedVersionID</assignToReference>
            <field>LatestPublishedVersionId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Content_Document_Link</name>
        <label>Lookup Content Document Link</label>
        <locationX>193</locationX>
        <locationY>107</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Content_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <object>ContentDocumentLink</object>
        <outputAssignments>
            <assignToReference>varCDId</assignToReference>
            <field>ContentDocumentId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCDLId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>456</locationX>
        <locationY>325</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HCP_Agreement_Attachment_ID__c</field>
            <value>
                <elementReference>varLastPublishedVersionID</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Lookup_Content_Document_Link</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCDId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCDLId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLastPublishedVersionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
