force-app/main/default/flows/Additional_Charge_Delete_Monthly_Fees.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <formulas>
        <name>CBOId</name>
        <dataType>String</dataType>
        <expression>Left({!varCordBloodOrderID},15)</expression>
    </formulas>
    <interviewLabel>Additional Charge Delete Monthly Fees {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Additional Charge Delete Monthly Fees</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Monthly_Fees</name>
        <label>Delete Monthly Fees</label>
        <locationX>285</locationX>
        <locationY>340</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAdditionalChargeID</elementReference>
            </value>
        </filters>
        <object>fw1__Additional_Charge__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Lookup_Additional_Charge_for_Monthly_Fees</name>
        <label>Lookup Additional Charge for Monthly Fees</label>
        <locationX>278</locationX>
        <locationY>110</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Monthly_Fees</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>fw1__Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCBOId</elementReference>
            </value>
        </filters>
        <object>fw1__Additional_Charge__c</object>
        <outputAssignments>
            <assignToReference>varAdditionalChargeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Cord_Blood_Order</name>
        <label>Lookup Cord Blood Order</label>
        <locationX>77</locationX>
        <locationY>240</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Additional_Charge_for_Monthly_Fees</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCordBloodOrderID</elementReference>
            </value>
        </filters>
        <object>fw1__Invoice__c</object>
        <outputAssignments>
            <assignToReference>varCBOId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <startElementReference>Lookup_Cord_Blood_Order</startElementReference>
    <status>Active</status>
    <variables>
        <name>varAdditionalChargeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCBOId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCordBloodOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
