force-app/main/default/flows/Calculate_Products_Services_Ordered.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assign the current values for the invoice line.</description>
        <name>Assign_Current_Invoice_Line_Values_Prod</name>
        <label>Assign Current Invoice Line Values - Prod</label>
        <locationX>5814</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varTProductsServicesOrdered</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formTProductsServicesOrdredFormatted_CBO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Tissue_Donation_Inv</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the current values for the invoice line.</description>
        <name>Assign_Current_Invoice_Line_Values_Storage</name>
        <label>Assign Current Invoice Line Values - Storage</label>
        <locationX>7860</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varTStorageOrdered</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formTStorageOrdredFormatted_CBO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_Product_For_Storage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the current values for the loop for opp.</description>
        <name>Assign_Current_Opp_Line_Item_Values_Prod</name>
        <label>Assign Current Opp Line Item Values - Prod</label>
        <locationX>270</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varTProductsServicesOrdered</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formTProductsServicesOrderedFormatted_Opp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Tissue_Donation_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the current values for the loop for opp.</description>
        <name>Assign_Current_Opp_Line_Item_Values_Storage</name>
        <label>Assign Current Opp Line Item Values - Storage</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varTStorageOrdered</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formTStorageOrderedFormatted_Opp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Opp_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the var for blood donation.</description>
        <name>Set_Blood_Donation_Opp</name>
        <label>Set Blood Donation Opp</label>
        <locationX>138</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>varBoolBloodDonation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Opp_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the ordered total for CB.</description>
        <name>Set_CB_Ordered_Total</name>
        <label>Set CB Ordered Total</label>
        <locationX>5704</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varNCBOrderedTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_Invoice_Lines.fw1__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Blood_Donation_Inv</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the storage type for the product</description>
        <name>Set_CB_Storage_Type</name>
        <label>Set CB Storage Type</label>
        <locationX>7200</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varTCordBloodStorage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formTStorageType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Invoice_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the CT Donation value</description>
        <name>Set_CT_Donation_Flag</name>
        <label>Set CT Donation Flag</label>
        <locationX>5000</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varTCordTissueDonation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>YES</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Inv_Donation_Flag</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the CT total ordered value</description>
        <name>Set_CT_Ordered_Total</name>
        <label>Set CT Ordered Total</label>
        <locationX>5968</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varNCTOrderedTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_Invoice_Lines.fw1__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Blood_Donation_Inv</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the storage type for the CT variable.</description>
        <name>Set_CT_Storage_Type</name>
        <label>Set CT Storage Type</label>
        <locationX>7464</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varTCordTissueStorage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formTStorageType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Invoice_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the exosome ordered total from the invoice line item.</description>
        <name>Set_Exosome_Ordered_Total</name>
        <label>Set Exosome Ordered Total</label>
        <locationX>6496</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varNEXOrderedTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_Invoice_Lines.fw1__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Blood_Donation_Inv</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the exosome storage variable.</description>
        <name>Set_Exosome_Storage_Type</name>
        <label>Set Exosome Storage Type</label>
        <locationX>7992</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varTExosomeStorage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formTStorageType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Invoice_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the blood donate flag .</description>
        <name>Set_Inv_Blood_Donate_Flag</name>
        <label>Set Inv Blood Donate Flag</label>
        <locationX>5682</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>varBoolBloodDonation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTCordBloodDonation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>YES</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Invoice_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the donation flag for the product</description>
        <name>Set_Inv_Donation_Flag</name>
        <label>Set Inv Donation Flag</label>
        <locationX>5264</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>varBoolTissueDonation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Blood_Donation_Inv</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the variable for the Maternal Exosome storage.</description>
        <name>Set_Maternal_Exosome_Storage_Type</name>
        <label>Set Maternal Exosome Storage Type</label>
        <locationX>8256</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varTMaternalExosomeStorage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formTStorageType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Invoice_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the Maternal Exosome Ordered Total value.</description>
        <name>Set_MXO_Ordered_Total</name>
        <label>Set MXO Ordered Total</label>
        <locationX>6760</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varNMXOrderedTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_Invoice_Lines.fw1__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Blood_Donation_Inv</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the donation flag for the product</description>
        <name>Set_Opp_Donation_Flag</name>
        <label>Set Opp Donation Flag</label>
        <locationX>138</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varBoolTissueDonation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Blood_Donation_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the value indicating PT Donation</description>
        <name>Set_PT_Donation_Flag</name>
        <label>Set PT Donation Flag</label>
        <locationX>5264</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varTPlacentaTissueDonation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>YES</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Inv_Donation_Flag</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the PT ordered total based on invoice line item.</description>
        <name>Set_PT_Ordered_Total</name>
        <label>Set PT Ordered Total</label>
        <locationX>6232</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varNPTOrderedTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_Invoice_Lines.fw1__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Blood_Donation_Inv</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the storage type for the PT variable.</description>
        <name>Set_PT_Storage_Type</name>
        <label>Set PT Storage Type</label>
        <locationX>7728</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varTPlacentaTissueStorage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formTStorageType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Invoice_Lines</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>This is the cord tissue product code.</description>
        <name>CORD_TISSUE_DONATION_PRODUCT_CODE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CTDonate</stringValue>
        </value>
    </constants>
    <constants>
        <description>This is the PT donation product code.</description>
        <name>PLACENTA_TISSUE_DONATION_PRODUCT_CODE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PTDonate</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Check to see if we are updating the opportunity or cord blood order.</description>
        <name>Are_We_Updating_Opportunity</name>
        <label>Are We Updating Opportunity</label>
        <locationX>2481</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_Invoice_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO - Updating CBO</defaultConnectorLabel>
        <rules>
            <name>YES_Updating_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTOpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opp_Line_Items</targetReference>
            </connector>
            <label>YES - Updating Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine if this is a blood donation product.</description>
        <name>Is_Blood_Donation_Inv</name>
        <label>Is Blood Donation - Inv</label>
        <locationX>5814</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>Loop_over_Invoice_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Blood Donate Inv</defaultConnectorLabel>
        <rules>
            <name>Yes_Blood_Donation_Inv</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Invoice_Lines.fw1__Product2__r.ProductCode</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>BDonate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Inv_Blood_Donate_Flag</targetReference>
            </connector>
            <label>Yes - Blood Donation Inv</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine if the product is a blood donation product.</description>
        <name>Is_Blood_Donation_Opp</name>
        <label>Is Blood Donation - Opp</label>
        <locationX>270</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Loop_Over_Opp_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Blood Donation Opp</defaultConnectorLabel>
        <rules>
            <name>Yes_Blood_Donation_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Opp_Line_Items.Product2.ProductCode</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>BDonate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Blood_Donation_Opp</targetReference>
            </connector>
            <label>Yes - Blood Donation Opp</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine if Invoice Line Item is Product or Storage type.</description>
        <name>Is_Inv_Line_Product_Or_Storage</name>
        <label>Is Inv Line Product Or Storage</label>
        <locationX>7255</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Loop_over_Invoice_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Product or Storage</defaultConnectorLabel>
        <rules>
            <name>ILI_is_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Invoice_Lines.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Current_Invoice_Line_Values_Prod</targetReference>
            </connector>
            <label>ILI is Product</label>
        </rules>
        <rules>
            <name>ILI_is_Storage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Invoice_Lines.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Storage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Current_Invoice_Line_Values_Storage</targetReference>
            </connector>
            <label>ILI is Storage</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine if line item item is product or storage type.</description>
        <name>Is_Opp_Line_Product_or_Storage</name>
        <label>Is Opp Line Product or Storage</label>
        <locationX>556</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Loop_Over_Opp_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Product or Storage</defaultConnectorLabel>
        <rules>
            <name>Opp_Line_Item_is_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Opp_Line_Items.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Current_Opp_Line_Item_Values_Prod</targetReference>
            </connector>
            <label>Opp Line Item is Product</label>
        </rules>
        <rules>
            <name>Opp_Line_Item_is_Storage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Opp_Line_Items.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Storage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Current_Opp_Line_Item_Values_Storage</targetReference>
            </connector>
            <label>Opp Line Item is Storage</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine if product is a tissue donation</description>
        <name>Is_Tissue_Donation_Inv</name>
        <label>Is Tissue Donation - Inv</label>
        <locationX>5814</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>What_Non_Donation_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Donation Inv</defaultConnectorLabel>
        <rules>
            <name>Yes_Donation_Inv</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Invoice_Lines.fw2__Product__r.ProductCode</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>TDonate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_Type_Of_Tissue_Donation</targetReference>
            </connector>
            <label>Yes - Donation Inv</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine if product is a tissue donation</description>
        <name>Is_Tissue_Donation_Opp</name>
        <label>Is Tissue Donation - Opp</label>
        <locationX>270</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Is_Blood_Donation_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Donation Opp</defaultConnectorLabel>
        <rules>
            <name>Yes_Donation_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Opp_Line_Items.ProductCode</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>TDonate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opp_Donation_Flag</targetReference>
            </connector>
            <label>Yes - Donation Opp</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine the non-donation product.</description>
        <name>What_Non_Donation_Product</name>
        <label>What Non-Donation Product</label>
        <locationX>6364</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Is_Blood_Donation_Inv</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cord_Blood_Product_ILI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Invoice_Lines.fw1__Product2__r.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_CB_Ordered_Total</targetReference>
            </connector>
            <label>Cord Blood Product ILI</label>
        </rules>
        <rules>
            <name>Cord_Tissue_Product_ILI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Invoice_Lines.fw1__Product2__r.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_CT_Ordered_Total</targetReference>
            </connector>
            <label>Cord Tissue Product ILI</label>
        </rules>
        <rules>
            <name>Placenta_Tissue_Product_ILI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Invoice_Lines.fw1__Product2__r.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_PT_Ordered_Total</targetReference>
            </connector>
            <label>Placenta Tissue Product ILI</label>
        </rules>
        <rules>
            <name>Exosome_Product_ILI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Invoice_Lines.fw1__Product2__r.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Exosome_Ordered_Total</targetReference>
            </connector>
            <label>Exosome Product ILI</label>
        </rules>
        <rules>
            <name>Maternal_Exosome_Product_ILI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Invoice_Lines.fw1__Product2__r.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MXO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_MXO_Ordered_Total</targetReference>
            </connector>
            <label>Maternal Exosome Product ILI</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine the product for the storage item.</description>
        <name>What_Product_For_Storage</name>
        <label>What Product For Storage?</label>
        <locationX>7860</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Loop_over_Invoice_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cord_Blood_Storage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Invoice_Lines.fw1__Product2__r.ProductCode</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>CB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_CB_Storage_Type</targetReference>
            </connector>
            <label>Cord Blood Storage</label>
        </rules>
        <rules>
            <name>Cord_Tissue_Storage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Invoice_Lines.fw1__Product2__r.ProductCode</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>CT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_CT_Storage_Type</targetReference>
            </connector>
            <label>Cord Tissue Storage</label>
        </rules>
        <rules>
            <name>Placenta_Tissue_Storage</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Invoice_Lines.fw1__Product2__r.ProductCode</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>PLife</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_over_Invoice_Lines.fw1__Product2__r.ProductCode</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>P20</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_over_Invoice_Lines.fw1__Product2__r.ProductCode</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>PTASP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_PT_Storage_Type</targetReference>
            </connector>
            <label>Placenta Tissue Storage</label>
        </rules>
        <rules>
            <name>Exosome_Storage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Invoice_Lines.fw1__Product2__r.ProductCode</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>EX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Exosome_Storage_Type</targetReference>
            </connector>
            <label>Exosome Storage</label>
        </rules>
        <rules>
            <name>Maternal_Exosome_Storage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Invoice_Lines.fw1__Product2__r.ProductCode</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>MXO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Maternal_Exosome_Storage_Type</targetReference>
            </connector>
            <label>Maternal Exosome Storage</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine what type of tissue donation</description>
        <name>What_Type_Of_Tissue_Donation</name>
        <label>What Type Of Tissue Donation?</label>
        <locationX>5264</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Set_Inv_Donation_Flag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Either PT or CT Donation</defaultConnectorLabel>
        <rules>
            <name>Cord_Tissue_Donation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Invoice_Lines.fw1__Product2__r.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CORD_TISSUE_DONATION_PRODUCT_CODE</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_CT_Donation_Flag</targetReference>
            </connector>
            <label>Cord Tissue Donation</label>
        </rules>
        <rules>
            <name>Placenta_Tissue_Donation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Invoice_Lines.fw1__Product2__r.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PLACENTA_TISSUE_DONATION_PRODUCT_CODE</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_PT_Donation_Flag</targetReference>
            </connector>
            <label>Placenta Tissue Donation</label>
        </rules>
    </decisions>
    <description>This flow will check to see what products/services have been ordered and return to calling flow.</description>
    <environments>Default</environments>
    <formulas>
        <description>This is a formula that will build the formatted list of products/services ordered.</description>
        <name>formTProductsServicesOrderedFormatted_Opp</name>
        <dataType>String</dataType>
        <expression>{!varTProductsServicesOrdered}+BR()+{!Loop_Over_Opp_Line_Items.Product2.Name}</expression>
    </formulas>
    <formulas>
        <description>This is a formula that formats the products/services ordered for CBO.</description>
        <name>formTProductsServicesOrdredFormatted_CBO</name>
        <dataType>String</dataType>
        <expression>{!varTProductsServicesOrdered}+BR()+{!Loop_over_Invoice_Lines.fw1__Product2__r.Name}</expression>
    </formulas>
    <formulas>
        <description>This formula will compute the storage selected.</description>
        <name>formTStorageOrderedFormatted_Opp</name>
        <dataType>String</dataType>
        <expression>{!varTStorageOrdered}+BR()+{!Loop_Over_Opp_Line_Items.Product2.Name}</expression>
    </formulas>
    <formulas>
        <description>This formula will hold the text value for the storage invoice line item names.</description>
        <name>formTStorageOrdredFormatted_CBO</name>
        <dataType>String</dataType>
        <expression>{!varTStorageOrdered}+BR()+{!Loop_over_Invoice_Lines.fw1__Product2__r.Name}</expression>
    </formulas>
    <formulas>
        <description>Formula that will return the storage for the current item - Annual, 20 Year or Lifetime.</description>
        <name>formTStorageType</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS(UPPER({!Loop_over_Invoice_Lines.fw1__Product2__r.ProductCode}), &apos;ASP&apos;), &apos;Annual&apos;,
IF(CONTAINS(UPPER({!Loop_over_Invoice_Lines.fw1__Product2__r.ProductCode}), &apos;20YR&apos;), &apos;20 Year&apos;,
IF(CONTAINS(UPPER({!Loop_over_Invoice_Lines.fw1__Product2__r.ProductCode}), &apos;LIFETIME&apos;), &apos;Lifetime&apos;, null
)
)
)</expression>
    </formulas>
    <interviewLabel>Calculate Products/Services Ordered {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calculate Products/Services Ordered</label>
    <loops>
        <description>Loop over invoice lines for processing.</description>
        <name>Loop_over_Invoice_Lines</name>
        <label>Loop over Invoice Lines</label>
        <locationX>4912</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Invoice_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Inv_Line_Product_Or_Storage</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <description>Loop over line items and process.</description>
        <name>Loop_Over_Opp_Line_Items</name>
        <label>Loop Over Opp Line Items</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Opp_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Opp_Line_Product_or_Storage</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the invoice lines for the Cord Blood Order we are updating.</description>
        <name>Get_Invoice_Lines</name>
        <label>Get Invoice Lines</label>
        <locationX>4912</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_Invoice_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>fw1__Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTCordBloodOrderId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Code__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>CollKit</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>fw1__Invoice_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Opportunity Line Items</description>
        <name>Get_Opp_Line_Items</name>
        <label>Get Opp Line Items</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Opp_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTOpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductCode</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>CollKit</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>2355</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Are_We_Updating_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Boolean variable to flag for a blood donation product.</description>
        <name>varBoolBloodDonation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>This variable will hold the true/false if a tissue donation product has been selected.</description>
        <name>varBoolTissueDonation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Variable that will hold the CB Ordered total.</description>
        <name>varNCBOrderedTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Variable that will hold the total of the CT ordered.</description>
        <name>varNCTOrderedTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Variable that will hold the Exosome ordered total.</description>
        <name>varNEXOrderedTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Variable that will hold the Maternal Exosome ordered total.</description>
        <name>varNMXOrderedTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Variable that will hold the PT Ordered Total.</description>
        <name>varNPTOrderedTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>This field will be used to record if the line item for cord blood donation is present.</description>
        <name>varTCordBloodDonation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Id for the Cord Blood Order (Invoice) to be used in the flow.</description>
        <name>varTCordBloodOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This field will be used to record the storage length for the cord blood item.</description>
        <name>varTCordBloodStorage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This field will be used to record if the line item for cord tissue donation is present.</description>
        <name>varTCordTissueDonation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This field will be used to record the storage length for the cord tissue item.</description>
        <name>varTCordTissueStorage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This field will be used to record the storage length for the exosome item.</description>
        <name>varTExosomeStorage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This field will be used to record the storage length for the maternal exosome item.</description>
        <name>varTMaternalExosomeStorage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>ID for the Opportunity to be used in the flow.</description>
        <name>varTOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This field will be used to record if the line item for placenta tissue donation is present.</description>
        <name>varTPlacentaTissueDonation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This field will be used to record the storage length for the placenta tissue item.</description>
        <name>varTPlacentaTissueStorage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Variable to hold the value of the formatted products/services ordered.</description>
        <name>varTProductsServicesOrdered</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This variable will hold the storage ordered</description>
        <name>varTStorageOrdered</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
