force-app/main/default/flows/Contact_Lookup_Opportunity_if_no_Open_Opportunity_Create_New_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_Owner_Active</name>
        <label>Is Owner Active</label>
        <locationX>802</locationX>
        <locationY>72</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDivision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Opportunity_with_Active_User</targetReference>
            </connector>
            <label>Owner is Active</label>
        </rules>
        <rules>
            <name>Owner_is_Not_Active</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varIsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDivision</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Opportunity_with_User</targetReference>
            </connector>
            <label>Owner is Not Active</label>
        </rules>
    </decisions>
    <decisions>
        <description>If there is an Open Opportunity, update it, if not create a New Opportunity.</description>
        <name>Is_there_an_Open_Opportunity</name>
        <label>Is there an Open Opportunity</label>
        <locationX>560</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Open_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunityID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Owner_Active</targetReference>
            </connector>
            <label>No Open Opportunity</label>
        </rules>
    </decisions>
    <formulas>
        <name>formCloseDate</name>
        <dataType>Date</dataType>
        <expression>if (NOT (ISNULL({!varBabysDueDate})), {!varBabysDueDate}, TODAY()+90)</expression>
    </formulas>
    <formulas>
        <name>formOppName</name>
        <dataType>String</dataType>
        <expression>if(NOT(ISNULL({!varBabysDueDate})),{!varFirstName} + &quot; &quot; +{!varLastName}
&amp;&quot; &quot;
&amp; &quot;-&quot; 
&amp;&quot; &quot; 
&amp; text(MONTH({!varBabysDueDate})) 
&amp; &quot;/&quot; 
&amp; text(DAY({!varBabysDueDate})) &amp; &quot;/&quot;
&amp; text(YEAR({!varBabysDueDate})), {!varFirstName} + &quot; &quot; +{!varLastName})</expression>
    </formulas>
    <formulas>
        <description>Used to Store the current Users ID. Opportunity is assigned to current User if Contact Owner is not an active Sales Rep.</description>
        <name>formUserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Contact Lookup Opportunity, if no Open Opportunity Create New Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Lookup Opportunity, if no Open Opportunity Create New Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>This is so the Opportunity appears in Marketo</description>
        <name>Create_Contact_Role</name>
        <label>Create Contact Role</label>
        <locationX>567</locationX>
        <locationY>530</locationY>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Enroller</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Opportunity_with_Active_User</name>
        <label>Create New Opportunity with Active User</label>
        <locationX>566</locationX>
        <locationY>232</locationY>
        <assignRecordIdToReference>varOpportunityID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Baby_s_Due_Date__c</field>
            <value>
                <elementReference>varBabysDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>formCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>varEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName__c</field>
            <value>
                <elementReference>varFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ForecastCategoryName</field>
            <value>
                <stringValue>Omitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName__c</field>
            <value>
                <elementReference>varLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Returning Client</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>formOppName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varOwnerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>varPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0126f000001crNs</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relation_to_Baby__c</field>
            <value>
                <elementReference>varRelationtoBaby</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_City__c</field>
            <value>
                <elementReference>varCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_State_Province__c</field>
            <value>
                <elementReference>varState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Street__c</field>
            <value>
                <elementReference>varStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Zip__c</field>
            <value>
                <elementReference>varZip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Opportunity_with_User</name>
        <label>Create New Opportunity with User</label>
        <locationX>1043</locationX>
        <locationY>149</locationY>
        <assignRecordIdToReference>varOpportunityID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Contact_Owner_with_User_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Baby_s_Due_Date__c</field>
            <value>
                <elementReference>varBabysDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>formCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>varEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName__c</field>
            <value>
                <elementReference>varFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName__c</field>
            <value>
                <elementReference>varLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Returning Client</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>formOppName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>formUserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>varPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0126f000001crNs</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relation_to_Baby__c</field>
            <value>
                <elementReference>varRelationtoBaby</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_City__c</field>
            <value>
                <elementReference>varCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_State_Province__c</field>
            <value>
                <elementReference>varState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Street__c</field>
            <value>
                <elementReference>varStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Zip__c</field>
            <value>
                <elementReference>varZip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Contact</name>
        <label>Lookup Contact</label>
        <locationX>199</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varAccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varBabysDueDate</assignToReference>
            <field>Baby_s_Due_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varLastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCity</assignToReference>
            <field>MailingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varZip</assignToReference>
            <field>MailingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varState</assignToReference>
            <field>MailingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varStreet</assignToReference>
            <field>MailingStreet</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOwnerID</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPhone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varRelationtoBaby</assignToReference>
            <field>Type__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Finds Opportunities related to Account.</description>
        <name>Lookup_Opportunities</name>
        <label>Lookup Opportunities</label>
        <locationX>382</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_an_Open_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0126f000001crNn</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>varOpportunityID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Determine if Owner is Active</description>
        <name>Lookup_Owner</name>
        <label>Lookup Owner</label>
        <locationX>252</locationX>
        <locationY>215</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOwnerID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varDivision</assignToReference>
            <field>Division</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varIsActive</assignToReference>
            <field>IsActive</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Owner</name>
        <label>Update Account Owner</label>
        <locationX>1056</locationX>
        <locationY>456</locationY>
        <connector>
            <targetReference>Create_Contact_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>formUserID</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Add Opportunity to Contact</description>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>566</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Create_Contact_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Owner_with_User_ID</name>
        <label>Update Contact Owner with User ID</label>
        <locationX>1045</locationX>
        <locationY>328</locationY>
        <connector>
            <targetReference>Update_Account_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>formUserID</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Lookup_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>OpenOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varBabysDueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDivision</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varIsActive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRelationtoBaby</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varUserRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varZip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
