force-app/main/default/flows/Cord_Blood_Order_Deactive_Portal_Authentication_when_order_is_canceled.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Number_of_Active_Orders</name>
        <label>Number of Active Orders</label>
        <locationX>450</locationX>
        <locationY>56</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Greater_than_Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNumberofActiveOrders</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <label>Is Greater than Zero</label>
        </rules>
        <rules>
            <name>Is_Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNumberofActiveOrders</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deactive_Portal</targetReference>
            </connector>
            <label>Is Zero</label>
        </rules>
    </decisions>
    <interviewLabel>Cord Blood Order Deactive Portal Authentication when order is canceled {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cord Blood Order Deactive Portal Authentication when order is canceled</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>233</locationX>
        <locationY>85</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Number_of_Active_Orders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varNumberofActiveOrders</assignToReference>
            <field>Number_of_Active_Orders__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Deactive_Portal</name>
        <label>Deactive Portal</label>
        <locationX>497</locationX>
        <locationY>271</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPortalAuthentication</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </inputAssignments>
        <object>Portal_Authentication__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNumberofActiveOrders</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varPortalAuthentication</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
