force-app/main/default/flows/Cord_Blood_Order_Referrer_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>conCommissionAmount</name>
        <dataType>Currency</dataType>
        <value>
            <numberValue>100.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>conCommissionStatus</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Enrolled</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Do_we_have_Contact_or_Email_Address</name>
        <label>Do we have Contact or Email Address</label>
        <locationX>614</locationX>
        <locationY>166</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Contact_Given</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varReferredbyContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Enroll_as_Ambassador</targetReference>
            </connector>
            <label>Contact Given</label>
        </rules>
        <rules>
            <name>Email_Address_Given</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varReferredbyEmailAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varReferredbyContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Contact_by_Email_Address</targetReference>
            </connector>
            <label>Email Address Given</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Contact_Exist</name>
        <label>Does Contact Exist</label>
        <locationX>342</locationX>
        <locationY>347</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Contact_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varReferredbyContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Enroll_as_Ambassador</targetReference>
            </connector>
            <label>Contact Exists</label>
        </rules>
        <rules>
            <name>Contact_Does_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varReferredbyContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact_Record_for_Referrer</targetReference>
            </connector>
            <label>Contact Does Not Exist</label>
        </rules>
    </decisions>
    <description>If a new enrollment has a &quot;referred by&quot;, enroll as Ambassador, if they are not already enrolled, and update Contact.</description>
    <formulas>
        <name>formLeadSource</name>
        <dataType>String</dataType>
        <expression>if (isnull({!varLeadSource}), &quot;Client Referral&quot;,{!varLeadSource})</expression>
    </formulas>
    <interviewLabel>Cord Blood Order Referrer Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cord Blood Order Referrer Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contact_Record_for_Referrer</name>
        <label>Create Contact Record for Referrer</label>
        <locationX>355</locationX>
        <locationY>526</locationY>
        <assignRecordIdToReference>varReferredbyContactID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Contact_with_Referrer_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <stringValue>0010B00001oPcgg</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>varReferredbyEmailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>varReferredbyFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>varReferredbyLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referrer__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Contact_by_Email_Address</name>
        <label>Lookup Contact by Email Address</label>
        <locationX>346</locationX>
        <locationY>193</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Contact_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varReferredbyEmailAddress</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varReferredbyContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Opportunity_for_Contact_and_Referred_by</name>
        <label>Lookup Opportunity for Contact and Referred by</label>
        <locationX>374</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_we_have_Contact_or_Email_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity_has_referrer__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Number_of_Previous_Orders__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>varLeadSource</assignToReference>
            <field>LeadSource</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varReferredbyFirstName</assignToReference>
            <field>Referred_by_First_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varReferredbyLastName</assignToReference>
            <field>Referred_by_Last_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varReferredbyEmailAddress</assignToReference>
            <field>Referred_by_email_address__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varReferredbyContactID</assignToReference>
            <field>Referring_Contact__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_Enroll_as_Ambassador</name>
        <label>Update Contact Enroll as Ambassador</label>
        <locationX>1159</locationX>
        <locationY>264</locationY>
        <connector>
            <targetReference>Update_Contact_with_Referrer_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varReferredbyContactID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Referrer__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_with_Referrer_ID</name>
        <label>Update Contact with Referrer ID</label>
        <locationX>643</locationX>
        <locationY>470</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>First_CBO__c</field>
            <value>
                <elementReference>varCordBloodOrderID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>formLeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referring_Contact__c</field>
            <value>
                <elementReference>varReferredbyContactID</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Lookup_Opportunity_for_Contact_and_Referred_by</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCordBloodOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLeadSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varReferredbyContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varReferredbyEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varReferredbyFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varReferredbyLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
