force-app/main/default/flows/HCP_Invoice_for_Individual_Agreement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_there_an_Open_Invoice</name>
        <label>Is there an Open Invoice</label>
        <locationX>359</locationX>
        <locationY>236</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Open_Invoice_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varHCPInvoiceID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Stipend</targetReference>
            </connector>
            <label>Open Invoice Exists</label>
        </rules>
        <rules>
            <name>Invoice_Does_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varHCPInvoiceID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_HCP_Invoice</targetReference>
            </connector>
            <label>Invoice Does Not Exist</label>
        </rules>
    </decisions>
    <formulas>
        <name>formCB20Stipend</name>
        <dataType>Number</dataType>
        <expression>Round({!varCB20Stipend},0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formCity</name>
        <dataType>String</dataType>
        <expression>IF ( NOT (ISBLANK({!varOtherCity})), {!varOtherCity},{!varMailingCity})</expression>
    </formulas>
    <formulas>
        <name>formCTStipend</name>
        <dataType>Number</dataType>
        <expression>round({!varCTStipend},0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>If Payment Schedule is quarterly, return the last day of the quarter, if the Payment Schedule is month, return the last day of the month.</description>
        <name>formInvoiceDate</name>
        <dataType>Date</dataType>
        <expression>{!varInvoiceDate} + 90</expression>
    </formulas>
    <formulas>
        <name>formPostalCode</name>
        <dataType>String</dataType>
        <expression>IF ( NOT (ISBLANK ({!varOtherZip})), {!varOtherZip}, {!varMailingPostalCode})</expression>
    </formulas>
    <formulas>
        <name>formPT20Stipend</name>
        <dataType>Number</dataType>
        <expression>Round({!varPT20Stipend},0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formState</name>
        <dataType>String</dataType>
        <expression>IF (NOT (ISBLANK ({!varOtherState})), {!varOtherState},{!varMailingState})</expression>
    </formulas>
    <formulas>
        <name>formStreet</name>
        <dataType>String</dataType>
        <expression>if ( NOT(ISBLANK({!varOtherStreet})), {!varOtherStreet},{!varMailingStreet})</expression>
    </formulas>
    <interviewLabel>HCP Invoice for Individual Agreement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HCP Invoice for Individual Agreement</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_HCP_Invoice</name>
        <label>Create HCP Invoice</label>
        <locationX>672</locationX>
        <locationY>271</locationY>
        <assignRecordIdToReference>varHCPInvoiceID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Stipend</targetReference>
        </connector>
        <inputAssignments>
            <field>Agreement_Start_Date__c</field>
            <value>
                <elementReference>varAgreementStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agreement_Status__c</field>
            <value>
                <elementReference>varAgreementStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agreement_Type__c</field>
            <value>
                <elementReference>varAgreementType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>varMailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>varPrimaryContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Health_Care_Practice__c</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Date__c</field>
            <value>
                <elementReference>varBabysBirthDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varRepID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payee__c</field>
            <value>
                <elementReference>varIndividualName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>varPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postal_Code__c</field>
            <value>
                <elementReference>varMailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rep_Email__c</field>
            <value>
                <elementReference>varRepEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rep_Phone__c</field>
            <value>
                <elementReference>varRepPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rep_Title__c</field>
            <value>
                <elementReference>varRepTitle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rep__c</field>
            <value>
                <elementReference>varAmericordRep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>varMailingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street_Address__c</field>
            <value>
                <elementReference>varMailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>W_9__c</field>
            <value>
                <elementReference>varW9</elementReference>
            </value>
        </inputAssignments>
        <object>HCP_Invoices__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Stipend</name>
        <label>Create Stipend</label>
        <locationX>391</locationX>
        <locationY>422</locationY>
        <connector>
            <targetReference>Update_CBO</targetReference>
        </connector>
        <inputAssignments>
            <field>CB_2_0_Stipend__c</field>
            <value>
                <elementReference>formCB20Stipend</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CT_Stipend__c</field>
            <value>
                <elementReference>formCTStipend</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HCP_Invoice__c</field>
            <value>
                <elementReference>varHCPInvoiceID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HCP__c</field>
            <value>
                <elementReference>varHCP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mother__c</field>
            <value>
                <elementReference>varLabID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>varCBOId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PT_2_0_Stipend__c</field>
            <value>
                <elementReference>formPT20Stipend</elementReference>
            </value>
        </inputAssignments>
        <object>HCP_Stipend__c</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_HCP_Invoice</name>
        <label>Lookup HCP Invoice</label>
        <locationX>390</locationX>
        <locationY>80</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_an_Open_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPrimaryContactID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <object>HCP_Invoices__c</object>
        <outputAssignments>
            <assignToReference>varHCPInvoiceID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_CBO</name>
        <label>Update CBO</label>
        <locationX>609</locationX>
        <locationY>464</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCBOId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stipend_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>fw1__Invoice__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Lookup_HCP_Invoice</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Health Care Practice</description>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAgreementStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAgreementStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAgreementType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAmericordRep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varBabysBirthDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCB20Stipend</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varCBOId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCTStipend</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varHCP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varHCPInvoiceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varIndividualName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varInvoiceDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLabID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varMailingCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varMailingPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varMailingState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varMailingStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOtherCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOtherState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOtherStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOtherZip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPaymentSchedule</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>HCP Primary Contact ID, so we can get the correct address.</description>
        <name>varPrimaryContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPT20Stipend</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varRepEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRepID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRepPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRepTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSendCheckTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varW9</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
