force-app/main/default/flows/Invoice_Update_new_credit_card.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Map_Invoice_new_Credit_card</name>
        <label>Map Invoice new Credit card</label>
        <locationX>849</locationX>
        <locationY>226</locationY>
        <assignmentItems>
            <assignToReference>InvoiceRecord.fw1__Payment_Profile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PaymentProfile.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvoiceId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempPaymentProfile.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PaymentProfile.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempPaymentProfile.fw1__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DML_Update_Invoice</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_New_Payment_Profile</name>
        <label>Is New Payment Profile</label>
        <locationX>849</locationX>
        <locationY>78</locationY>
        <defaultConnector>
            <targetReference>Payment_Profile_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PaymentProfile.fw1__First_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PaymentRecord.fw1__First_Name__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PaymentProfile.fw1__Last_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PaymentRecord.fw1__Last_Name__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PaymentProfile.fw1__CreditCardType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PaymentRecord.fw1__Credit_Card_Type__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PaymentProfile.fw1__ExpiryMonth__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PaymentRecord.fw1__Expiry_Month__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PaymentProfile.fw1__ExpiryYear__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PaymentRecord.fw1__Expiry_Year__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Map_Invoice_new_Credit_card</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <interviewLabel>Invoice - Update new credit card {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Invoice - Update new credit card</label>
    <loops>
        <name>Payment_Profile_Loop</name>
        <label>Payment Profile  Loop</label>
        <locationX>598</locationX>
        <locationY>76</locationY>
        <assignNextValueToReference>PaymentProfile</assignNextValueToReference>
        <collectionReference>PaymentProfileList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_New_Payment_Profile</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DML_Update_Invoice</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Query_Payment_Details</name>
        <label>Query - Payment Details</label>
        <locationX>229</locationX>
        <locationY>75</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Query_Payment_Profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PaymentId</elementReference>
            </value>
        </filters>
        <object>fw1__Payment__c</object>
        <outputReference>PaymentRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>fw1__Invoice__c</queriedFields>
        <queriedFields>fw1__First_Name__c</queriedFields>
        <queriedFields>fw1__Last_Name__c</queriedFields>
        <queriedFields>fw1__Credit_Card_Number__c</queriedFields>
        <queriedFields>fw1__Expiry_Month__c</queriedFields>
        <queriedFields>fw1__Expiry_Year__c</queriedFields>
        <queriedFields>fw1__Credit_Card_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Query_Payment_Profile</name>
        <label>Query - Payment Profile</label>
        <locationX>412</locationX>
        <locationY>75</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Payment_Profile_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>fw1__Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>emailAddress</elementReference>
            </value>
        </filters>
        <object>fw1__PaymentProfile__c</object>
        <outputReference>PaymentProfileList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>fw1__Account__c</queriedFields>
        <queriedFields>fw1__ExpiryMonth__c</queriedFields>
        <queriedFields>fw1__ExpiryYear__c</queriedFields>
        <queriedFields>fw1__First_Name__c</queriedFields>
        <queriedFields>fw1__Last_Name__c</queriedFields>
        <queriedFields>fw1__CreditCardNumber__c</queriedFields>
        <queriedFields>fw1__CreditCardType__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>DML_Link_Payment_Profile_to_Contact</name>
        <label>DML: Link Payment Profile to Contact</label>
        <locationX>598</locationX>
        <locationY>339</locationY>
        <inputReference>TempPaymentProfile</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>DML_Update_Invoice</name>
        <label>DML: Update Invoice</label>
        <locationX>597</locationX>
        <locationY>224</locationY>
        <connector>
            <targetReference>DML_Link_Payment_Profile_to_Contact</targetReference>
        </connector>
        <inputReference>InvoiceRecord</inputReference>
    </recordUpdates>
    <startElementReference>Query_Payment_Details</startElementReference>
    <status>Active</status>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InvoiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InvoiceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>fw1__Invoice__c</objectType>
    </variables>
    <variables>
        <name>PaymentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PaymentProfile</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>fw1__PaymentProfile__c</objectType>
    </variables>
    <variables>
        <name>PaymentProfileList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>fw1__PaymentProfile__c</objectType>
    </variables>
    <variables>
        <name>PaymentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>fw1__Payment__c</objectType>
    </variables>
    <variables>
        <name>TempPaymentProfile</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>fw1__PaymentProfile__c</objectType>
    </variables>
</Flow>
