force-app/main/default/flows/Lab_Update_or_Create_Contact_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Does_Contact_2_Exist</name>
        <label>Does Contact 2 Exist</label>
        <locationX>291</locationX>
        <locationY>141</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_Contact_2_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContact2ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_2</targetReference>
            </connector>
            <label>Yes, Contact 2 Exists</label>
        </rules>
        <rules>
            <name>No_Contact_2_Does_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContact2ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContact2LastName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact_2</targetReference>
            </connector>
            <label>No, Contact 2 Does Not Exist</label>
        </rules>
    </decisions>
    <interviewLabel>Lab Update or Create Contact 2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lab Update or Create Contact 2</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contact_2</name>
        <label>Create Contact 2</label>
        <locationX>628</locationX>
        <locationY>144</locationY>
        <assignRecordIdToReference>varContact2ID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Lab_with_new_Contact_2_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>varContact2Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>varContact2FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lab_ID__c</field>
            <value>
                <elementReference>varLabID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>varContact2LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varContact2OwnerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>varContact2Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sync_with_Marketo__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>varContact2RelationtoBaby</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Lab</name>
        <label>Lookup Lab</label>
        <locationX>289</locationX>
        <locationY>31</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Contact_2_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLabID</elementReference>
            </value>
        </filters>
        <object>Lab__c</object>
        <outputAssignments>
            <assignToReference>varAccountID</assignToReference>
            <field>Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContact2ID</assignToReference>
            <field>Contact_2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContact2Email</assignToReference>
            <field>Father_s_Email__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContact2FirstName</assignToReference>
            <field>Father_s_First_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContact2LastName</assignToReference>
            <field>Father_s_Last_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContact2Phone</assignToReference>
            <field>Father_s_Phone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContact2OwnerID</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContact2RelationtoBaby</assignToReference>
            <field>Relation_to_Baby_2__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_2</name>
        <label>Update Contact 2</label>
        <locationX>289</locationX>
        <locationY>251</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContact2ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>varContact2Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>varContact2FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>varContact2LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>varContact2Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>varContact2RelationtoBaby</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lab_with_new_Contact_2_ID</name>
        <label>Update Lab with new Contact 2 ID</label>
        <locationX>626</locationX>
        <locationY>257</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLabID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_2__c</field>
            <value>
                <elementReference>varContact2ID</elementReference>
            </value>
        </inputAssignments>
        <object>Lab__c</object>
    </recordUpdates>
    <startElementReference>Lookup_Lab</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContact2Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContact2FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContact2ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContact2LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContact2OwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContact2Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContact2RelationtoBaby</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLabID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
