force-app/main/default/flows/Lab_OBGYN_Create_Account_and_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>conAccountRecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>012U0000000Q54x</stringValue>
        </value>
    </constants>
    <constants>
        <name>conContactRecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0120B000000oZjp</stringValue>
        </value>
    </constants>
    <constants>
        <name>conOwnerID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0050B0000086Ruz</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Does_HCP_Exists</name>
        <label>Does HCP Exists</label>
        <locationX>287</locationX>
        <locationY>236</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HCP_Does_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varHCPLU</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Account</targetReference>
            </connector>
            <label>HCP Does Not Exist</label>
        </rules>
        <rules>
            <name>HCP_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varHCPLU</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_Hospital_Lookup_Exist</targetReference>
            </connector>
            <label>HCP Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Hospital_Lookup_Exist</name>
        <label>Does Hospital Lookup Exist</label>
        <locationX>727</locationX>
        <locationY>100</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hospital_Lookup_Does_Not_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varHospitalLU</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Hospital_Account</targetReference>
            </connector>
            <label>Hospital Lookup Does Not Exists</label>
        </rules>
        <rules>
            <name>Hospital_Lookup_Does_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varHospitalLU</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Hospital Lookup Does Exist</label>
        </rules>
    </decisions>
    <description>When Docusign Status is Completed, create a new Account and Contact record for OBGYN.</description>
    <formulas>
        <name>formAccountName</name>
        <dataType>String</dataType>
        <expression>if ({!varOBGYNPracticeName}=&quot;&quot;, {!varOBGYNFirstName}&amp;&quot; &quot;&amp;{!varOBGYNLastName}, {!varOBGYNPracticeName})</expression>
    </formulas>
    <interviewLabel>Lab OBGYN Create Account and Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lab OBGYN Create Account and Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>315</locationX>
        <locationY>482</locationY>
        <assignRecordIdToReference>varAccountID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>formAccountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>conOwnerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>varOBGYNPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>conAccountRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>varOBGYNCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>varOBGYNZip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>varOBGYNState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>varOBGYNAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Medical Professional</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>525</locationX>
        <locationY>330</locationY>
        <assignRecordIdToReference>varContactID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Hospital_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>varOBGYNEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fax</field>
            <value>
                <elementReference>varOBGYNFax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>varOBGYNFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lab_ID__c</field>
            <value>
                <elementReference>varLabID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>varOBGYNLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>varOBGYNCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCountry</field>
            <value>
                <elementReference>varOBGYNCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>varOBGYNZip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>varOBGYNState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>varOBGYNAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>conOwnerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Account_Type__c</field>
            <value>
                <stringValue>Doctor</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>varOBGYNPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>conContactRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sync_with_Marketo__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>varOBGYNRole</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Hospital_Account</name>
        <label>Create Hospital Account</label>
        <locationX>731</locationX>
        <locationY>305</locationY>
        <assignRecordIdToReference>varAccountIDHospital</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Lab</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varHospitalName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>conOwnerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>varHospitalPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>conAccountRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>varHospitalCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>varHospitalZip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>varHospitalState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>varHospitalAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Hospital</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Lab</name>
        <label>Lookup Lab</label>
        <locationX>311</locationX>
        <locationY>61</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_HCP_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLabID</elementReference>
            </value>
        </filters>
        <filters>
            <field>OBGYN_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lab__c</object>
        <outputAssignments>
            <assignToReference>varHospitalAddress</assignToReference>
            <field>Hospital_Address__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varHospitalCity</assignToReference>
            <field>Hospital_City__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varHospitalName</assignToReference>
            <field>Hospital_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varHospitalPhone</assignToReference>
            <field>Hospital_Phone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varHospitalState</assignToReference>
            <field>Hospital_State__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varHospitalZip</assignToReference>
            <field>Hospital_Zip__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varHospitalLU</assignToReference>
            <field>Hospital__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varHCPLU</assignToReference>
            <field>Medical_Professional__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOBGYNAddress</assignToReference>
            <field>OBGYN_Address__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOBGYNCity</assignToReference>
            <field>OBGYN_City__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOBGYNCountry</assignToReference>
            <field>OBGYN_Country__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOBGYNEmail</assignToReference>
            <field>OBGYN_Email_for_Fax__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOBGYNFax</assignToReference>
            <field>OBGYN_Fax__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOBGYNFirstName</assignToReference>
            <field>OBGYN_First_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOBGYNLastName</assignToReference>
            <field>OBGYN_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOBGYNPhone</assignToReference>
            <field>OBGYN_Phone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOBGYNPracticeName</assignToReference>
            <field>OBGYN_Practice_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOBGYNRole</assignToReference>
            <field>OBGYN_Role__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOBGYNState</assignToReference>
            <field>OBGYN_State__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOBGYNZip</assignToReference>
            <field>OBGYN_Zip__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lab</name>
        <label>Update Lab</label>
        <locationX>740</locationX>
        <locationY>548</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLabID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HCP_Practice__c</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hospital__c</field>
            <value>
                <elementReference>varAccountIDHospital</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medical_Professional__c</field>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </inputAssignments>
        <object>Lab__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Lookup_Lab</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountIDHospital</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varHCPLU</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varHospitalAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varHospitalCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varHospitalLU</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varHospitalName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varHospitalPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varHospitalState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varHospitalZip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLabID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOBGYNAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOBGYNCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOBGYNCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOBGYNEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOBGYNFax</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOBGYNFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOBGYNLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOBGYNPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOBGYNPracticeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOBGYNRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOBGYNState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOBGYNZip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
