force-app/main/default/flows/Lab_Doctor_Referral_Add_Local_Rep_to_CBO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_Not_Null</name>
        <label>Is Not Null</label>
        <locationX>369</locationX>
        <locationY>53</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lab_is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLabID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Cord_Blood_Order</targetReference>
            </connector>
            <label>Lab is Not Null</label>
        </rules>
    </decisions>
    <formulas>
        <name>formLocalSalesRep</name>
        <dataType>String</dataType>
        <expression>if ({!varOBGYNTerritory} = &quot;CA - Los Angeles&quot;, &quot;Kimberly Schienberg&quot;,
if ({!varOBGYNTerritory} = &quot;NY - Manhattan&quot;, &quot;Brian Packard&quot;,
if ({!varOBGYNTerritory} = &quot;CA - Orange/Riverside&quot;, &quot;Melissa Keil&quot;,
null)))</expression>
    </formulas>
    <formulas>
        <name>formLSRPopulatedPostAutobill</name>
        <dataType>Boolean</dataType>
        <expression>if ({!varAutoBill}=true, true, false)</expression>
    </formulas>
    <formulas>
        <name>formToday</name>
        <dataType>Date</dataType>
        <expression>today()</expression>
    </formulas>
    <interviewLabel>Lab Doctor Referral Add Local Rep to CBO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lab Doctor Referral Add Local Rep to CBO</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Lab</name>
        <label>Lookup Lab</label>
        <locationX>206</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLabID</elementReference>
            </value>
        </filters>
        <filters>
            <field>HCP_Territory__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lab__c</object>
        <outputAssignments>
            <assignToReference>varOBGYNTerritory</assignToReference>
            <field>HCP_Territory__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cord_Blood_Order</name>
        <label>Update Cord Blood Order</label>
        <locationX>626</locationX>
        <locationY>59</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCordBloodOrderID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LSR_Added_Post_Autobill__c</field>
            <value>
                <elementReference>formLSRPopulatedPostAutobill</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LSR_Populated_from_Lab__c</field>
            <value>
                <elementReference>formToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Local_Sales_Rep__c</field>
            <value>
                <elementReference>formLocalSalesRep</elementReference>
            </value>
        </inputAssignments>
        <object>fw1__Invoice__c</object>
    </recordUpdates>
    <startElementReference>Lookup_Lab</startElementReference>
    <status>Active</status>
    <variables>
        <name>varAutoBill</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCordBloodOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLabID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOBGYNTerritory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
