force-app/main/default/flows/Opportunity_attach_Payment_Record_and_update_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>When there is an Authorization ID on Opportunity, lookup Payment record, add Account, Contact, Email and Opportunity. Opportunity gets updated with the amount of the payment.</description>
    <interviewLabel>Opportunity attach Payment Record and update Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity attach Payment Record and update Opportunity</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Payment_Record</name>
        <label>Lookup Payment Record</label>
        <locationX>300</locationX>
        <locationY>138</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Payment_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPaymentID</elementReference>
            </value>
        </filters>
        <object>fw1__Payment__c</object>
        <outputAssignments>
            <assignToReference>varPaidAmount</assignToReference>
            <field>fw1__Total_Paid_Amount__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>298</locationX>
        <locationY>354</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunity</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Authorized_Payment__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fw1__Total_Paid_Amount__c</field>
            <value>
                <elementReference>varPaidAmount</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Payment_Record</name>
        <label>Update Payment Record</label>
        <locationX>299</locationX>
        <locationY>248</locationY>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPaymentID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Deposit__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fw1__Account__c</field>
            <value>
                <elementReference>varAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fw1__Contact__c</field>
            <value>
                <elementReference>varContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fw1__Email__c</field>
            <value>
                <elementReference>varEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fw1__Opportunity__c</field>
            <value>
                <elementReference>varOpportunity</elementReference>
            </value>
        </inputAssignments>
        <object>fw1__Payment__c</object>
    </recordUpdates>
    <startElementReference>Lookup_Payment_Record</startElementReference>
    <status>Active</status>
    <variables>
        <name>varAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOpportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPaidAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varPaymentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
