force-app/main/default/flows/PA_for_Older_Orders.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <formulas>
        <name>GeneratePassword</name>
        <dataType>String</dataType>
        <expression>Text(Day(Today()))+Right({!mothersfirstname},2)+Left({!motherslastname},2)+Text(Month(Today()))</expression>
    </formulas>
    <interviewLabel>PA for Older Orders {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PA for Older Orders</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreatePortalAuthentication</name>
        <label>CreatePortalAuthentication</label>
        <locationX>211</locationX>
        <locationY>184</locationY>
        <assignRecordIdToReference>PARecordID</assignRecordIdToReference>
        <connector>
            <targetReference>UpdateContact</targetReference>
        </connector>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>mothersfirstname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hide_Welcome_Message__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>motherslastname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Password__c</field>
            <value>
                <elementReference>GeneratePassword</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reset_Password_Required__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Username__c</field>
            <value>
                <elementReference>ContactEmail</elementReference>
            </value>
        </inputAssignments>
        <object>Portal_Authentication__c</object>
    </recordCreates>
    <recordLookups>
        <name>Contact</name>
        <label>Contact</label>
        <locationX>205</locationX>
        <locationY>66</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreatePortalAuthentication</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateContact</name>
        <label>UpdateContact</label>
        <locationX>215</locationX>
        <locationY>316</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Portal_Authentication__c</field>
            <value>
                <elementReference>PARecordID</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>mothersfirstname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>motherslastname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PARecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
