force-app/main/default/flows/Payment_with_Authorization_Update_Order_with_Zero_Amount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Payment with Authorization Update Order with Zero Amount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payment with Authorization Update Order with Zero Amount</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>207</locationX>
        <locationY>380</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.fw1__Invoice__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>fw1__Invoice__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>fw1__Authorized_Amount__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order</name>
        <label>Update Order</label>
        <locationX>196</locationX>
        <locationY>521</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.fw1__Invoice__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>fw1__Authorized_Amount__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>fw1__Invoice__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Order</targetReference>
        </connector>
        <filterLogic>(1 OR 5) AND 2 AND 3 AND 4</filterLogic>
        <filters>
            <field>fw1__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Authorized</stringValue>
            </value>
        </filters>
        <filters>
            <field>fw1__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Authorization</stringValue>
            </value>
        </filters>
        <filters>
            <field>fw1__Amount__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>99.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>fw1__Total_Paid_Amount__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>fw1__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Voided</stringValue>
            </value>
        </filters>
        <object>fw1__Payment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
