force-app/main/default/flows/RecordTrigger_Fedex_Shipment_After_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Get rate for non-MBD Kit Ship</description>
        <name>Get_Rate_MBD_Kit</name>
        <label>Get Rate - MBD Kit</label>
        <locationX>473</locationX>
        <locationY>600</locationY>
        <actionName>zkfedex__InvocableRate</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customAddressId</name>
            <value>
                <stringValue>a050B00000bfBgK</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>zkfedex__InvocableRate</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>Get rate for non-MBD Kit Ship</description>
        <name>Get_Rate_Non_MBD_Kit</name>
        <label>Get Rate - Non-MBD Kit</label>
        <locationX>209</locationX>
        <locationY>492</locationY>
        <actionName>zkfedex__InvocableRate</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customAddressId</name>
            <value>
                <stringValue>a054P00000ww9K9</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>zkfedex__InvocableRate</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Check to see if reference is blank and its for a MBD Kit.</description>
        <name>Is_Reference_Blank_and_MBD</name>
        <label>Is Reference Blank and MBD</label>
        <locationX>605</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>NO - Ref Not Blank or Not MBD Kit</defaultConnectorLabel>
        <rules>
            <name>YES_Ref_Blank_and_MBD_Kit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lab_MBD__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.zkfedex__ReferenceDeptNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Shipping_Info_For_MBD_Kit</targetReference>
            </connector>
            <label>YES - Ref Blank and MBD Kit</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine if Blank Reference and Non-MBD Kit Type</description>
        <name>Is_Reference_Blank_and_Non_MBD_Kit</name>
        <label>Is Reference Blank and Non-MBD Kit</label>
        <locationX>407</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Is_Reference_Blank_and_MBD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO - Not Blank or Not MBD Kit</defaultConnectorLabel>
        <rules>
            <name>YES_Ref_Blank_and_Non_MBD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lab__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.zkfedex__ReferenceDeptNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Shipping_Info_For_Non_MBD_Kit</targetReference>
            </connector>
            <label>YES - Ref Blank and Non-MBD</label>
        </rules>
    </decisions>
    <description>Flow that runs after the Fedex Shipment record is created.</description>
    <environments>Default</environments>
    <interviewLabel>RecordTrigger: Fedex Shipment After Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RecordTrigger: Fedex Shipment After Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Populate the fields from the lab for MBD Kit type.</description>
        <name>Update_Shipping_Info_For_MBD_Kit</name>
        <label>Update Shipping Info For MBD Kit</label>
        <locationX>473</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Get_Rate_MBD_Kit</targetReference>
        </connector>
        <inputAssignments>
            <field>zkfedex__EMailRecipient3__c</field>
            <value>
                <elementReference>$Record.Lab__r.Father_s_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>zkfedex__ModKey__c</field>
            <value>
                <stringValue>ZK_Key_2331</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>zkfedex__RecipientCity__c</field>
            <value>
                <elementReference>$Record.Lab_MBD__r.Shipping_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>zkfedex__RecipientCountry__c</field>
            <value>
                <elementReference>$Record.Lab_MBD__r.Shipping_Country_new__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>zkfedex__RecipientEMail__c</field>
            <value>
                <elementReference>$Record.Lab_MBD__r.Mothers_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>zkfedex__RecipientName__c</field>
            <value>
                <elementReference>$Record.Lab_MBD__r.Shipping_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>zkfedex__RecipientPhone__c</field>
            <value>
                <elementReference>$Record.Lab_MBD__r.Mother_s_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>zkfedex__RecipientPostalCode__c</field>
            <value>
                <elementReference>$Record.Lab_MBD__r.Shipping_Zip__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>zkfedex__RecipientState__c</field>
            <value>
                <elementReference>$Record.Lab_MBD__r.Shipping_State_new__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>zkfedex__RecipientStreet__c</field>
            <value>
                <elementReference>$Record.Lab_MBD__r.Shipping_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>zkfedex__ReferenceDeptNumber__c</field>
            <value>
                <stringValue>M</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>zkfedex__SenderCompany__c</field>
            <value>
                <stringValue>Allied</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Populate the fields from the lab for non-MBD Kit type.</description>
        <name>Update_Shipping_Info_For_Non_MBD_Kit</name>
        <label>Update Shipping Info For Non-MBD Kit</label>
        <locationX>209</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Get_Rate_Non_MBD_Kit</targetReference>
        </connector>
        <inputAssignments>
            <field>zkfedex__EMailRecipient3__c</field>
            <value>
                <elementReference>$Record.Lab__r.Father_s_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>zkfedex__ModKey__c</field>
            <value>
                <stringValue>ZK_Key_2331</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>zkfedex__RecipientCity__c</field>
            <value>
                <elementReference>$Record.Lab__r.Shipping_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>zkfedex__RecipientCountry__c</field>
            <value>
                <elementReference>$Record.Lab__r.Shipping_Country_new__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>zkfedex__RecipientEMail__c</field>
            <value>
                <elementReference>$Record.Lab__r.Mothers_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>zkfedex__RecipientName__c</field>
            <value>
                <elementReference>$Record.Lab__r.Shipping_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>zkfedex__RecipientPhone__c</field>
            <value>
                <elementReference>$Record.Lab__r.Mother_s_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>zkfedex__RecipientPostalCode__c</field>
            <value>
                <elementReference>$Record.Lab__r.Shipping_Zip__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>zkfedex__RecipientState__c</field>
            <value>
                <elementReference>$Record.Lab__r.Shipping_State_new__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>zkfedex__RecipientStreet__c</field>
            <value>
                <elementReference>$Record.Lab__r.Shipping_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>zkfedex__ReferenceDeptNumber__c</field>
            <value>
                <stringValue>P</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>zkfedex__SenderCompany__c</field>
            <value>
                <stringValue>Allied</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>zkfedex__Shipment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Is_Reference_Blank_and_Non_MBD_Kit</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varTPlaceholder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
