force-app/main/default/flows/RecordTrigger_CalendlyAction_After_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>myRule_1</name>
        <label>invitee.created</label>
        <locationX>248</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>myRule_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_invitee.created</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>invitee.created</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>TRUE_invitee.created</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_3</name>
        <label>invitee.canceled</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>FALSE_invitee.canceled</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>invitee.canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>TRUE_invitee.canceled</label>
        </rules>
    </decisions>
    <description>This flow will run after the calendly action record is inserted.</description>
    <environments>Default</environments>
    <interviewLabel>RecordTrigger:CalendlyAction After Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RecordTrigger:CalendlyAction After Insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_1</targetReference>
        </connector>
        <object>CalendlyAction__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>myRule_1_A1</name>
        <label>Run Create Event Flow</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <flowName>CreateEvent</flowName>
        <inputAssignments>
            <name>NewCalendlyAction</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>myRule_3_A1</name>
        <label>Run Cancel Event Flow</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <flowName>CancelEvent</flowName>
        <inputAssignments>
            <name>NewCalendlyAction</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
