force-app/main/default/flows/RecordTrigger_Contact_After_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Determine if the portal auth record for the surrogate already exists.</description>
        <name>Does_Surrgate_Portal_Auth_already_exist</name>
        <label>Does Surrgate Portal Auth already exist?</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NO_Doesnt_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Portal_Auth_for_Surrogate.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Portal_Authentication_For_Surrogate</targetReference>
            </connector>
            <label>NO - Doesnt Exist</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine if the contact is a surrogate type.</description>
        <name>Is_Surrogate_Contact</name>
        <label>Is Surrogate Contact</label>
        <locationX>336</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>NO - Not Surrogate</defaultConnectorLabel>
        <rules>
            <name>YES_Is_Surrogate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Surrogate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Portal_Authentication__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Portal_Auth_for_Surrogate</targetReference>
            </connector>
            <label>YES - Is Surrogate</label>
        </rules>
    </decisions>
    <description>This is the flow that can be used for logic after insert on Contact.</description>
    <environments>Default</environments>
    <interviewLabel>RecordTrigger:Contact After Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RecordTrigger:Contact After Insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the portal Auth using the surrogate email</description>
        <name>Get_Portal_Auth_for_Surrogate</name>
        <label>Get Portal Auth for Surrogate</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Surrgate_Portal_Auth_already_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Portal_Authentication__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Surrogate_Contact</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <description>Call subflow to create the PA for the surrogate.</description>
        <name>Create_Portal_Authentication_For_Surrogate</name>
        <label>Create Portal Authentication For Surrogate</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <flowName>Create_PA_for_Surrogate</flowName>
        <inputAssignments>
            <name>ContactEmail</name>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContactID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>surrogatesfirstname</name>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>surrogateslastname</name>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLabID</name>
            <value>
                <elementReference>$Record.Lab_ID__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
