force-app/main/default/flows/RecordTrigger_Case_After_Insert_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Check to see if the account lookup is populated.</description>
        <name>Is_Account_Lookup_Populated</name>
        <label>Is Account Lookup Populated?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>No Acct Lookup Null</defaultConnectorLabel>
        <rules>
            <name>Yes_Acct_Lookup_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Yes Acct Lookup Populated</label>
        </rules>
    </decisions>
    <description>This is the main flow for Case After Insert or Update.</description>
    <environments>Default</environments>
    <interviewLabel>RecordTrigger:Case After Insert Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RecordTrigger:Case After Insert Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Account_Lookup_Populated</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>myRule_1_A1</name>
        <label>Run flow</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <flowName>Update_Case_with_Cord_Blood_Order_and_Lab_LU</flowName>
        <inputAssignments>
            <name>varAccountID</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCaseID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
