force-app/main/default/flows/RecordTrigger_Opportunity_After_Insert_or_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assign outputs from the Calculate Products/Services Ordered subflow.</description>
        <name>Assign_Order_Calc_Outputs</name>
        <label>Assign Order Calc Outputs</label>
        <locationX>512</locationX>
        <locationY>2124</locationY>
        <assignmentItems>
            <assignToReference>varTProductsServicesOrdered</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call_Calc_Products_Services_Ordered.varTProductsServicesOrdered</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTStorageOrdered</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call_Calc_Products_Services_Ordered.varTStorageOrdered</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opp_For_Products_Ordered</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>See if the contact2 link is missing</description>
        <name>Copy_2_of_Is_Contact2_Contact_Missing</name>
        <label>Copy 2 of Is Contact2 Contact Missing?</label>
        <locationX>182</locationX>
        <locationY>1116</locationY>
        <defaultConnector>
            <targetReference>Update_Contact2_s_Contact_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO - Contact2 Exists</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_YES_Contact2_Not_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact2_LastName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Contact2_Record</targetReference>
            </connector>
            <label>Copy 2 of YES - Contact2 Not Created</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine if contact1 details change.</description>
        <name>Did_Contact1_Change</name>
        <label>Did Contact1 Change</label>
        <locationX>644</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Did_Contact2_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO - Contact1 Unchanged</defaultConnectorLabel>
        <rules>
            <name>YES_Cont1_Mother_Change</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 7) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FirstName__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastName__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Phone__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Alt_Email_Address__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Relation_to_Baby__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mother</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Relation_to_Baby__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Name_Contact1</targetReference>
            </connector>
            <label>YES - Cont1 Mother Change</label>
        </rules>
        <rules>
            <name>YES_Cont1_Non_Mother_Change</name>
            <conditionLogic>(1 or 2 or 3 or 4 or 5 or 7) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FirstName__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastName__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Phone__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Alt_Email_Address__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Relation_to_Baby__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Mother</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Relation_to_Baby__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_With_Combined_Phone_and_Email</targetReference>
            </connector>
            <label>YES - Cont1 Non-Mother Change</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine if contact2 details change.</description>
        <name>Did_Contact2_Change</name>
        <label>Did Contact2 Change</label>
        <locationX>644</locationX>
        <locationY>792</locationY>
        <defaultConnector>
            <targetReference>Is_No_Mother_Set_On_Opp_and_Fields_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO - Cont2 Unchanged or Null</defaultConnectorLabel>
        <rules>
            <name>YES_Cont2_Mother_Change</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact2_FirstName__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact2_LastName__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact2_Email__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact2_Phone__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact2_Relation_to_Baby__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact2_Relation_to_Baby__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mother</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Name_Contact2</targetReference>
            </connector>
            <label>YES - Cont2 Mother Change</label>
        </rules>
        <rules>
            <name>YES_Cont2_Non_Mother_Change</name>
            <conditionLogic>(1 or 2 or 3 or 4 or 5) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact2_FirstName__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact2_LastName__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact2_Email__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact2_Phone__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact2_Relation_to_Baby__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact2_Relation_to_Baby__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Mother</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_With_Combined_Phone_and_Email_Contact2</targetReference>
            </connector>
            <label>YES - Cont2 Non-Mother Change</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to see if the email address changed.</description>
        <name>Did_Email_Address_Change</name>
        <label>Did Email Address Change?</label>
        <locationX>644</locationX>
        <locationY>3216</locationY>
        <defaultConnector>
            <targetReference>Did_SMS_Opt_Out</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO - Email Unchanged</defaultConnectorLabel>
        <rules>
            <name>YES_Email_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_Dupe_Email</targetReference>
            </connector>
            <label>YES - Email Changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine if the owner changed for the opp.</description>
        <name>Did_Owner_Change</name>
        <label>Did Owner Change</label>
        <locationX>644</locationX>
        <locationY>4116</locationY>
        <defaultConnector>
            <targetReference>Does_Opp_Prefer_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO - Same Owner</defaultConnectorLabel>
        <rules>
            <name>YES_Owner_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact1</targetReference>
            </connector>
            <label>YES - Owner Changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to see if the promo winner changed</description>
        <name>Did_Promo_Winner_Change</name>
        <label>Did Promo Winner Change</label>
        <locationX>842</locationX>
        <locationY>6048</locationY>
        <defaultConnectorLabel>NO - Winner Not Changed</defaultConnectorLabel>
        <rules>
            <name>YES_Winner_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Promo_Winner__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Promo_Winner_Checked</targetReference>
            </connector>
            <label>YES - Winner Changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine if SMS Opt Out is Set</description>
        <name>Did_SMS_Opt_Out</name>
        <label>Did SMS Opt Out</label>
        <locationX>644</locationX>
        <locationY>3516</locationY>
        <defaultConnector>
            <targetReference>Is_SMS_Only_Coreg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO - No Opt Out</defaultConnectorLabel>
        <rules>
            <name>YES_Opt_Out_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.tdc_tsw__SMS_Opt_out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_SMS_Opt_Out</targetReference>
            </connector>
            <label>YES - Opt Out Set</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to see if the email field equals dupe email</description>
        <name>Does_Email_Equal_Dup_Email</name>
        <label>Does Email Equal Dup Email</label>
        <locationX>644</locationX>
        <locationY>2916</locationY>
        <defaultConnector>
            <targetReference>Did_Email_Address_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO - Not Equal Dupe</defaultConnectorLabel>
        <rules>
            <name>YES_Equals_Dupe_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Dup_Email2__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Alt_Email</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>YES - Equals Dupe Email</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine if the opp/lead prefers email.</description>
        <name>Does_Opp_Prefer_Email</name>
        <label>Does Opp Prefer Email?</label>
        <locationX>644</locationX>
        <locationY>4524</locationY>
        <defaultConnector>
            <targetReference>Is_Authorization_ID_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO - Not Email Pref</defaultConnectorLabel>
        <rules>
            <name>YES_Prefers_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Preferred_comm_method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Call_Status_Prefer_Email</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>YES - Prefers Email</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine if the Authorization ID has been set.</description>
        <name>Is_Authorization_ID_Set</name>
        <label>Is Authorization ID Set?</label>
        <locationX>644</locationX>
        <locationY>4824</locationY>
        <defaultConnector>
            <targetReference>Is_Ecomm_Status_Enrolled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO - Auth ID Not Set</defaultConnectorLabel>
        <rules>
            <name>YES_Auth_ID_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Authorization_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attach_Payment_Record_to_Opp</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>YES - Auth ID Set</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine if Change Owner to Americord is set.</description>
        <name>Is_Change_Owner_Americord_Set</name>
        <label>Is Change Owner Americord Set</label>
        <locationX>842</locationX>
        <locationY>5640</locationY>
        <defaultConnector>
            <targetReference>Did_Promo_Winner_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO - No Change Owner Americord</defaultConnectorLabel>
        <rules>
            <name>YES_Change_to_Americord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Change_Owner_to_Americord__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Americord_Services_User</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>YES - Change to Americord</label>
        </rules>
    </decisions>
    <decisions>
        <description>See if the contact2 link is missing</description>
        <name>Is_Contact2_Contact_Missing</name>
        <label>Is Contact2 Contact Missing?</label>
        <locationX>710</locationX>
        <locationY>1008</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Contact2_s_Contact_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO - Contact2 Exists</defaultConnectorLabel>
        <rules>
            <name>YES_Contact2_Not_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact2_LastName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Create_New_Contact2_Record</targetReference>
            </connector>
            <label>YES - Contact2 Not Created</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine if the contact is null.</description>
        <name>Is_Contact_Null</name>
        <label>Is Contact Null</label>
        <locationX>1546</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>NO - Contact/Desc Not Null</defaultConnectorLabel>
        <rules>
            <name>YES_Contact_Is_Null_and_ContactID_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Add_Contact_Update_Opp</targetReference>
            </connector>
            <label>YES - Contact Is Null and ContactID is Null</label>
        </rules>
        <rules>
            <name>YES_Contact_is_Null_and_ContactID_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_with_ContactId</targetReference>
            </connector>
            <label>YES - Contact is Null and ContactID Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine if the ecomm status field is set to enrolled.</description>
        <name>Is_Ecomm_Status_Enrolled</name>
        <label>Is Ecomm Status Enrolled</label>
        <locationX>644</locationX>
        <locationY>5232</locationY>
        <defaultConnector>
            <targetReference>Is_Opp_Delete_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO - Ecomm Not Enrolled</defaultConnectorLabel>
        <rules>
            <name>YES_Ecomm_Enrolled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Ecomm_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enrolled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stage_To_Enrolled</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>YES - Ecomm Enrolled</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine if no mother is set on the opp and the contact fields changed.</description>
        <name>Is_No_Mother_Set_On_Opp_and_Fields_Changed</name>
        <label>Is No Mother Set On Opp and Fields Changed</label>
        <locationX>644</locationX>
        <locationY>1500</locationY>
        <defaultConnector>
            <targetReference>Is_Opportunity_Enrolled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO - Mother and no change</defaultConnectorLabel>
        <rules>
            <name>YES_No_mother_and_changed</name>
            <conditionLogic>1 and 2 and (3 or 4 or 5 or 6 or 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Relation_to_Baby__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Mother</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact2_Relation_to_Baby__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Mother</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FirstName__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastName__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Baby_s_Due_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Relation_to_Baby__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact2_Relation_to_Baby__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Name_No_Mother</targetReference>
            </connector>
            <label>YES - No mother and changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine if opportunity is closed.</description>
        <name>Is_Opp_Closed</name>
        <label>Is Opp Closed?</label>
        <locationX>974</locationX>
        <locationY>2532</locationY>
        <defaultConnector>
            <targetReference>Does_Email_Equal_Dup_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO - Opp Not Closed</defaultConnectorLabel>
        <rules>
            <name>YES_Opp_Is_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Close_Date_To_Today</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>YES - Opp Is Closed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine if the delete flag has been set for the opp.</description>
        <name>Is_Opp_Delete_Set</name>
        <label>Is Opp Delete Set?</label>
        <locationX>644</locationX>
        <locationY>5532</locationY>
        <defaultConnector>
            <targetReference>Is_Change_Owner_Americord_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO - No Delete</defaultConnectorLabel>
        <rules>
            <name>YES_Delete_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Delete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Bad_Leads</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>YES - Delete Set</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to see if the opportunity is enrolled. This will prevent the overwrite of values for Ordered.</description>
        <name>Is_Opportunity_Enrolled</name>
        <label>Is Opportunity Enrolled</label>
        <locationX>644</locationX>
        <locationY>1908</locationY>
        <defaultConnector>
            <targetReference>Is_Opportunity_Open_New</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>YES - Enrolled</defaultConnectorLabel>
        <rules>
            <name>NO_Not_Enrolled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Enrolled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Calc_Products_Services_Ordered</targetReference>
            </connector>
            <label>NO - Not Enrolled</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine if opportunity is open/new.</description>
        <name>Is_Opportunity_Open_New</name>
        <label>Is Opportunity Open/New</label>
        <locationX>644</locationX>
        <locationY>2424</locationY>
        <defaultConnector>
            <targetReference>Is_Opp_Closed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO - Not Open/New</defaultConnectorLabel>
        <rules>
            <name>YES_Open_New_Due_Date_Null</name>
            <conditionLogic>1 AND (2 or 3) and 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Baby_s_Due_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Baby_s_Due_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>formDTToday</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Baby_s_Due_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CloseDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Close_Date_2</targetReference>
            </connector>
            <label>YES - Open - Due Date Null or Past</label>
        </rules>
        <rules>
            <name>YES_Open_Due_Date_In_Future</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CloseDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Baby_s_Due_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Baby_s_Due_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>formDTToday</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Close_Date_1</targetReference>
            </connector>
            <label>YES - Open Due Date In Future</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine if SMS Only Coreg Opp.</description>
        <name>Is_SMS_Only_Coreg</name>
        <label>Is SMS Only Coreg</label>
        <locationX>644</locationX>
        <locationY>3816</locationY>
        <defaultConnector>
            <targetReference>Did_Owner_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO - Not Coreg</defaultConnectorLabel>
        <rules>
            <name>YES_Coreg</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Call_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SMS Only - Coreg</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_SMS_to_new_Coreg_Opp</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>YES - Coreg</label>
        </rules>
    </decisions>
    <description>Flow that will run after insert or update.</description>
    <environments>Default</environments>
    <formulas>
        <description>This formula will return either the baby due date or a future date.</description>
        <name>formDTDueDateFutureDate</name>
        <dataType>Date</dataType>
        <expression>IF(ISNULL({!$Record.Baby_s_Due_Date__c}),{!formDTTodayPlus274},{!$Record.Baby_s_Due_Date__c})</expression>
    </formulas>
    <formulas>
        <description>Formula that will set the promo winner checked datetime.</description>
        <name>formDTPromoWinnerChecked</name>
        <dataType>DateTime</dataType>
        <expression>if({!$Record.Promo_Winner__c},NOW(),null)</expression>
    </formulas>
    <formulas>
        <description>Formula for today&apos;s date.</description>
        <name>formDTToday</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <formulas>
        <description>Formula for date that is 274 days in the future.</description>
        <name>formDTTodayPlus274</name>
        <dataType>Date</dataType>
        <expression>Today()+274</expression>
    </formulas>
    <formulas>
        <description>Formula to set the Account name based on the opp.</description>
        <name>formTAccountNameOnOppContact2Change</name>
        <dataType>String</dataType>
        <expression>{!$Record.Contact2_Firstname__c}+&apos; &apos;+{!$Record.Contact2_LastName__c}</expression>
    </formulas>
    <formulas>
        <description>Formula for setting the account name when the Opp contact1 changes.</description>
        <name>formTAccountNameOnOppContactChange</name>
        <dataType>String</dataType>
        <expression>{!$Record.FirstName__c}+&apos; &apos;+{!$Record.LastName__c}</expression>
    </formulas>
    <formulas>
        <description>Formula that will set the Opportunity name based on if the due date is populated.</description>
        <name>formTOpportunityName</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!$Record.Baby_s_Due_Date__c}),
{!$Record.FirstName__c}+&apos; &apos;+{!$Record.LastName__c},
{!$Record.FirstName__c}+&apos; &apos;+{!$Record.LastName__c}+&apos; - &apos;+TEXT(MONTH({!$Record.Baby_s_Due_Date__c}))+&apos;/&apos;+TEXT(DAY({!$Record.Baby_s_Due_Date__c}))+&apos;/&apos;+TEXT(YEAR({!$Record.Baby_s_Due_Date__c})))</expression>
    </formulas>
    <formulas>
        <description>Formula to set the opportunity name based on the opportunity contact values.</description>
        <name>formTOpportunityNameContact2</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!$Record.Baby_s_Due_Date__c}),
{!$Record.Contact2_FirstName__c}+&apos; &apos;+{!$Record.Contact2_LastName__c},
{!$Record.Contact2_FirstName__c}+&apos; &apos;+{!$Record.Contact2_LastName__c}+&apos; - &apos;+TEXT(MONTH({!$Record.Baby_s_Due_Date__c}))+&apos;/&apos;+TEXT(DAY({!$Record.Baby_s_Due_Date__c}))+&apos;/&apos;+TEXT(YEAR({!$Record.Baby_s_Due_Date__c})))</expression>
    </formulas>
    <interviewLabel>RecordTrigger:Opportunity After Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RecordTrigger:Opportunity After Insert or Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Send scheduled sms to coreg opp.</description>
        <name>Send_SMS_to_new_Coreg_Opp</name>
        <label>Send SMS to new Coreg Opp</label>
        <locationX>512</locationX>
        <locationY>3924</locationY>
        <connector>
            <targetReference>Did_Owner_Change</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Phone_Api__c</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Related_Object_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__SMS_Template__c</field>
            <value>
                <stringValue>a346f000000G9mz</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Sender_Number__c</field>
            <value>
                <stringValue>19173361278</stringValue>
            </value>
        </inputAssignments>
        <object>tdc_tsw__Scheduled_Sms__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get the americord services@americordblood.com user</description>
        <name>Get_Americord_Services_User</name>
        <label>Get Americord Services User</label>
        <locationX>710</locationX>
        <locationY>5748</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Ownerid_Americord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>services@americordblood.com</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Set the call status field for the opp to pref email.</description>
        <name>Set_Call_Status_Prefer_Email</name>
        <label>Set Call Status - Prefer Email</label>
        <locationX>512</locationX>
        <locationY>4632</locationY>
        <connector>
            <targetReference>Is_Authorization_ID_Set</targetReference>
        </connector>
        <inputAssignments>
            <field>Call_Status__c</field>
            <value>
                <stringValue>Prefers Email</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update the account when the contact1 mother is changed.</description>
        <name>Update_Account_Contact1_Mother_Change</name>
        <label>Update Account - Contact1 Mother Change</label>
        <locationX>380</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Update_Contact1_s_Contact_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Combined_Email_Address__c</field>
            <value>
                <elementReference>$Record.Combined_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Combined_Phone__c</field>
            <value>
                <elementReference>$Record.Combined_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>formTAccountNameOnOppContactChange</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update the account when the contact1 mother is changed.</description>
        <name>Update_Account_Contact2_Mother_Change</name>
        <label>Update Account - Contact2 Mother Change</label>
        <locationX>182</locationX>
        <locationY>1008</locationY>
        <connector>
            <targetReference>Copy_2_of_Is_Contact2_Contact_Missing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Combined_Email_Address__c</field>
            <value>
                <elementReference>$Record.Combined_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Combined_Phone__c</field>
            <value>
                <elementReference>$Record.Combined_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>formTAccountNameOnOppContact2Change</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update the account name when the contact1 mother is changed.</description>
        <name>Update_Account_Name_No_Mother_Set</name>
        <label>Update Account Name - No Mother Set</label>
        <locationX>512</locationX>
        <locationY>1716</locationY>
        <connector>
            <targetReference>Is_Opportunity_Enrolled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>formTAccountNameOnOppContactChange</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update the related account with combined phone and email values.</description>
        <name>Update_Account_With_Combined_Phone_and_Email</name>
        <label>Update Account With Combined Phone and Email</label>
        <locationX>644</locationX>
        <locationY>384</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Contact1_s_Contact_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Combined_Email_Address__c</field>
            <value>
                <elementReference>$Record.Combined_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Combined_Phone__c</field>
            <value>
                <elementReference>$Record.Combined_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update the related account with combined phone and email values.</description>
        <name>Update_Account_With_Combined_Phone_and_Email_Contact2</name>
        <label>Update Account With Combined Phone and Email Contact2</label>
        <locationX>710</locationX>
        <locationY>900</locationY>
        <connector>
            <targetReference>Is_Contact2_Contact_Missing</targetReference>
        </connector>
        <inputAssignments>
            <field>Combined_Email_Address__c</field>
            <value>
                <elementReference>$Record.Combined_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Combined_Phone__c</field>
            <value>
                <elementReference>$Record.Combined_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update the email fields for alt and dupe email 2.</description>
        <name>Update_Alt_Email</name>
        <label>Update Alt Email</label>
        <locationX>512</locationX>
        <locationY>3024</locationY>
        <connector>
            <targetReference>Did_Email_Address_Change</targetReference>
        </connector>
        <inputAssignments>
            <field>Alt_Email_Address__c</field>
            <value>
                <elementReference>$Record.Dup_Email2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dup_Email2__c</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update close date using due date.</description>
        <name>Update_Close_Date_1</name>
        <label>Update Close Date 1</label>
        <locationX>578</locationX>
        <locationY>2532</locationY>
        <connector>
            <targetReference>Does_Email_Equal_Dup_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Baby_s_Due_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Baby_s_Due_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>formDTToday</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Record.Baby_s_Due_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Close Date when null due date.</description>
        <name>Update_Close_Date_2</name>
        <label>Update Close Date 2</label>
        <locationX>314</locationX>
        <locationY>2532</locationY>
        <connector>
            <targetReference>Does_Email_Equal_Dup_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>formDTTodayPlus274</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update the close date to today.</description>
        <name>Update_Close_Date_To_Today</name>
        <label>Update Close Date To Today</label>
        <locationX>842</locationX>
        <locationY>2640</locationY>
        <connector>
            <targetReference>Does_Email_Equal_Dup_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>formDTToday</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Contact1 Owner.</description>
        <name>Update_Contact1</name>
        <label>Update Contact1</label>
        <locationX>512</locationX>
        <locationY>4224</locationY>
        <connector>
            <targetReference>Update_Contact2</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Contact__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update the contact record for Contact1.</description>
        <name>Update_Contact1_s_Contact_Record</name>
        <label>Update Contact1&apos;s Contact Record</label>
        <locationX>380</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Did_Contact2_Change</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Alt_Email__c</field>
            <value>
                <elementReference>$Record.Alt_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.FirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.LastName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>$Record.Relation_to_Baby__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Contact2 for new owner.</description>
        <name>Update_Contact2</name>
        <label>Update Contact2</label>
        <locationX>512</locationX>
        <locationY>4332</locationY>
        <connector>
            <targetReference>Does_Opp_Prefer_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Contact2__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update the contact record for Contact2.</description>
        <name>Update_Contact2_s_Contact_Record</name>
        <label>Update Contact2&apos;s Contact Record</label>
        <locationX>314</locationX>
        <locationY>1224</locationY>
        <connector>
            <targetReference>Is_No_Mother_Set_On_Opp_and_Fields_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Contact2_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.Contact2_FirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Contact2_LastName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Contact2_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>$Record.Contact2_Relation_to_Baby__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Contact2__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update the Contact SMS Opt Out Flag</description>
        <name>Update_Contact_SMS_Opt_Out</name>
        <label>Update Contact SMS Opt Out</label>
        <locationX>512</locationX>
        <locationY>3624</locationY>
        <connector>
            <targetReference>Is_SMS_Only_Coreg</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tdc_tsw__SMS_Opt_out__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>tdc_tsw__SMS_Opt_out__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Contact__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Set the contact__c value using the contactid.</description>
        <name>Update_Contact_with_ContactId</name>
        <label>Update Contact with ContactId</label>
        <locationX>1546</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Call_Add_Contact_Update_Opp_for_not_null</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update the dupe email field with the current email.</description>
        <name>Update_Opp_Dupe_Email</name>
        <label>Update Opp Dupe Email</label>
        <locationX>512</locationX>
        <locationY>3324</locationY>
        <connector>
            <targetReference>Did_SMS_Opt_Out</targetReference>
        </connector>
        <inputAssignments>
            <field>Dup_Email2__c</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update calling Opp for Products/Services ordered.</description>
        <name>Update_Opp_For_Products_Ordered</name>
        <label>Update Opp For Products Ordered</label>
        <locationX>512</locationX>
        <locationY>2232</locationY>
        <connector>
            <targetReference>Is_Opportunity_Open_New</targetReference>
        </connector>
        <inputAssignments>
            <field>Blood_Donation__c</field>
            <value>
                <elementReference>Call_Calc_Products_Services_Ordered.varBoolBloodDonation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Products_or_Services_Ordered_Formatted__c</field>
            <value>
                <elementReference>varTProductsServicesOrdered</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_Ordered_Formatted__c</field>
            <value>
                <elementReference>varTStorageOrdered</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tissue_Donation__c</field>
            <value>
                <elementReference>Call_Calc_Products_Services_Ordered.varBoolTissueDonation</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update the opportunity name</description>
        <name>Update_Opportunity_Name_Contact1</name>
        <label>Update Opportunity Name Contact1</label>
        <locationX>380</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Update_Account_Contact1_Mother_Change</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>formTOpportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update the opportunity name</description>
        <name>Update_Opportunity_Name_Contact2</name>
        <label>Update Opportunity Name Contact2</label>
        <locationX>182</locationX>
        <locationY>900</locationY>
        <connector>
            <targetReference>Update_Account_Contact2_Mother_Change</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>formTOpportunityNameContact2</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update the opportunity name - no mother set</description>
        <name>Update_Opportunity_Name_No_Mother</name>
        <label>Update Opportunity Name - No Mother</label>
        <locationX>512</locationX>
        <locationY>1608</locationY>
        <connector>
            <targetReference>Update_Account_Name_No_Mother_Set</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>formTOpportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Set the ownerid to the americord user/owner.</description>
        <name>Update_Ownerid_Americord</name>
        <label>Update Ownerid Americord</label>
        <locationX>710</locationX>
        <locationY>5856</locationY>
        <connector>
            <targetReference>Did_Promo_Winner_Change</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Americord_Services_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update the triggering opp and set the promo winner checked datetime.</description>
        <name>Update_Promo_Winner_Checked</name>
        <label>Update Promo Winner Checked</label>
        <locationX>710</locationX>
        <locationY>6156</locationY>
        <inputAssignments>
            <field>Promo_Winner_Checked__c</field>
            <value>
                <elementReference>formDTPromoWinnerChecked</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update opp stage to enrolled.</description>
        <name>Update_Stage_To_Enrolled</name>
        <label>Update Stage To Enrolled</label>
        <locationX>512</locationX>
        <locationY>5340</locationY>
        <connector>
            <targetReference>Is_Opp_Delete_Set</targetReference>
        </connector>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Enrolled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>969</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Did_Contact1_Change</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>One_Minute_After_Create_Modify</name>
            <connector>
                <targetReference>Is_Contact_Null</targetReference>
            </connector>
            <label>One Minute After Create/Modify</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Create_Date_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Call subflow to attach payment profile to account/contact.</description>
        <name>Attach_Payment_Profile_To_Account_Contact</name>
        <label>Attach Payment Profile To Account/Contact</label>
        <locationX>512</locationX>
        <locationY>5040</locationY>
        <connector>
            <targetReference>Is_Ecomm_Status_Enrolled</targetReference>
        </connector>
        <flowName>Opportunity_Update_Payment_Profile_with_Account_Contact</flowName>
        <inputAssignments>
            <name>varOpportunityID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Call subflow to attach payment record.</description>
        <name>Attach_Payment_Record_to_Opp</name>
        <label>Attach Payment Record to Opp</label>
        <locationX>512</locationX>
        <locationY>4932</locationY>
        <connector>
            <targetReference>Attach_Payment_Profile_To_Account_Contact</targetReference>
        </connector>
        <flowName>Opportunity_attach_Payment_Record_and_update_Opportunity</flowName>
        <inputAssignments>
            <name>varAccount</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varContact</name>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varEmail</name>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOpportunity</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPaymentID</name>
            <value>
                <elementReference>$Record.Authorization_ID__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Call flow to add contact.</description>
        <name>Call_Add_Contact_Update_Opp</name>
        <label>Call Add Contact Update Opp</label>
        <locationX>1282</locationX>
        <locationY>384</locationY>
        <flowName>Opportunity_Add_Contact_and_Update_Opportunity</flowName>
        <inputAssignments>
            <name>varDTBabysDueDate</name>
            <value>
                <elementReference>$Record.Baby_s_Due_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOpportunityID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTOwnerId</name>
            <value>
                <stringValue>{!$Record.OwnerId}</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Call flow to add contact.</description>
        <name>Call_Add_Contact_Update_Opp_for_not_null</name>
        <label>Call Add Contact Update Opp for not null</label>
        <locationX>1546</locationX>
        <locationY>492</locationY>
        <flowName>Opportunity_Add_Contact_and_Update_Opportunity</flowName>
        <inputAssignments>
            <name>varDTBabysDueDate</name>
            <value>
                <elementReference>$Record.Baby_s_Due_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOpportunityID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTOwnerId</name>
            <value>
                <stringValue>{!$Record.OwnerId}</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Call subflow to calculate the products/services ordered value.</description>
        <name>Call_Calc_Products_Services_Ordered</name>
        <label>Call Calc Products/Services Ordered</label>
        <locationX>512</locationX>
        <locationY>2016</locationY>
        <connector>
            <targetReference>Assign_Order_Calc_Outputs</targetReference>
        </connector>
        <flowName>Calculate_Products_Services_Ordered</flowName>
        <inputAssignments>
            <name>varTOpportunityId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Call subflow to create contact2 and link.</description>
        <name>Create_New_Contact2_Record</name>
        <label>Create New Contact2 Record</label>
        <locationX>50</locationX>
        <locationY>1224</locationY>
        <connector>
            <targetReference>Is_No_Mother_Set_On_Opp_and_Fields_Changed</targetReference>
        </connector>
        <flowName>Opportunity_Contact2_Create_New_Contact_Record</flowName>
        <inputAssignments>
            <name>varAccountID</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varBabysDueDate</name>
            <value>
                <elementReference>$Record.Baby_s_Due_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varContact1RelationtoBaby</name>
            <value>
                <elementReference>$Record.Relation_to_Baby__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varContact2Email</name>
            <value>
                <elementReference>$Record.Contact2_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varContact2FirstName</name>
            <value>
                <elementReference>$Record.Contact2_FirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varContact2ID</name>
            <value>
                <elementReference>$Record.Contact2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varContact2LastName</name>
            <value>
                <elementReference>$Record.Contact2_LastName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varContact2Phone</name>
            <value>
                <elementReference>$Record.Contact2_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varContact2RelationtoBaby</name>
            <value>
                <elementReference>$Record.Contact2_Relation_to_Baby__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOpportunityID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Call subflow to delete bad leads.</description>
        <name>Delete_Bad_Leads</name>
        <label>Delete Bad Leads</label>
        <locationX>446</locationX>
        <locationY>5640</locationY>
        <flowName>Opportunity_Delete_Bad_Leads_and_Accounts_and_Contacts</flowName>
        <inputAssignments>
            <name>varAccountID</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOpportunityID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>Variable that will hold the products/services ordered from subflow.</description>
        <name>varTProductsServicesOrdered</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable that will hold the value of the storage ordered.</description>
        <name>varTStorageOrdered</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
