force-app/main/default/flows/Scheduled_Payment_Overdue_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Payment_Overdue_120_Days_Email</name>
        <label>Send Payment Overdue 120 Days Email</label>
        <locationX>842</locationX>
        <locationY>396</locationY>
        <actionName>fw1__Invoice__c.Payment_Overdue_120_Days</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>fw1__Invoice__c.Payment_Overdue_120_Days</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Payment_Overdue_150_Days_Email</name>
        <label>Send Payment Overdue 150 Days Email</label>
        <locationX>1106</locationX>
        <locationY>396</locationY>
        <actionName>fw1__Invoice__c.Payment_Overdue_150_Days</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>fw1__Invoice__c.Payment_Overdue_150_Days</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Payment_Overdue_180_Days_Plus_Email</name>
        <label>Send Payment Overdue 180 Days Plus Email</label>
        <locationX>1370</locationX>
        <locationY>396</locationY>
        <actionName>fw1__Invoice__c.Payment_Overdue_180_Days_Plus</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>fw1__Invoice__c.Payment_Overdue_180_Days_Plus</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Payment_Overdue_30_Days_Email</name>
        <label>Send Payment Overdue 30 Days Email</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <actionName>fw1__Invoice__c.Payment_Overdue_30_Days</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>fw1__Invoice__c.Payment_Overdue_30_Days</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Payment_Overdue_60_Days_Email</name>
        <label>Send Payment Overdue 60 Days Email</label>
        <locationX>314</locationX>
        <locationY>396</locationY>
        <actionName>fw1__Invoice__c.Payment_Overdue_60_Days</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>fw1__Invoice__c.Payment_Overdue_60_Days</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Payment_Overdue_90_Days_Email</name>
        <label>Send Payment Overdue 90 Days Email</label>
        <locationX>578</locationX>
        <locationY>396</locationY>
        <actionName>fw1__Invoice__c.Payment_Overdue_90_Days</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>fw1__Invoice__c.Payment_Overdue_90_Days</nameSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Checks to see how many days late the CBO is.  There are 6 email templates currently.  The first is sent at 30 days late, the second at 60 etc, until 180 days at which point they recieve template 6 on an ongoing basis.</description>
        <name>Choose_Template</name>
        <label>Choose Template</label>
        <locationX>842</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X30_Days_Late_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Days_Late_on_Payment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Payment_Overdue_30_Days_Email</targetReference>
            </connector>
            <label>30 Days Late Email</label>
        </rules>
        <rules>
            <name>X60_Days_Late_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Days_Late_on_Payment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Payment_Overdue_60_Days_Email</targetReference>
            </connector>
            <label>60 Days Late Email</label>
        </rules>
        <rules>
            <name>X90_Days_Late_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Days_Late_on_Payment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>90.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Payment_Overdue_90_Days_Email</targetReference>
            </connector>
            <label>90 Days Late Email</label>
        </rules>
        <rules>
            <name>X120_Days_Late_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Days_Late_on_Payment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>120.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Payment_Overdue_120_Days_Email</targetReference>
            </connector>
            <label>120 Days Late Email</label>
        </rules>
        <rules>
            <name>X150_Days_Late_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Days_Late_on_Payment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>150.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Payment_Overdue_150_Days_Email</targetReference>
            </connector>
            <label>150 Days Late Email</label>
        </rules>
        <rules>
            <name>X180_Days_Late_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Days_Late_on_Payment__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>180.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Payment_Overdue_180_Days_Plus_Email</targetReference>
            </connector>
            <label>180 Days + Late Email</label>
        </rules>
    </decisions>
    <interviewLabel>Scheduled Payment Overdue Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduled Payment Overdue Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Choose_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Send_Reminder_Email_Today__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Count_of_Due_Installments__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </filters>
        <object>fw1__Invoice__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-08-31</startDate>
            <startTime>20:41:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
</Flow>
