force-app/main/default/flows/ScheduledFlow_ReassignIdleLeads.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Determine if the day of the week is on the weekend.</description>
        <name>Determine_if_running_on_weekend</name>
        <label>Determine if running on weekend</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Weekend</defaultConnectorLabel>
        <rules>
            <name>Not_Weekend</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formBooleanIsWeekend</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Americord_Code_Flow_Settings</targetReference>
            </connector>
            <label>Not Weekend</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine if the lead has been idle too long.</description>
        <name>Has_This_Lead_Been_Idle_Too_Long</name>
        <label>Has This Lead Been Idle Too Long?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES_Reassign_Complex</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.n2de__Last_distributed__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>formDTTimeIdle</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Americord_Code_Flow_Settings.Opportunity_Stem_Cell_Recordtype_Id__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pre_enrollment_Comments__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Phone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sale_Type_Direct_or_Complex__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complex</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.n2de__Last_distributed__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opp_Values_To_Allow_Reassign</targetReference>
            </connector>
            <label>YES - Reassign - Complex</label>
        </rules>
        <rules>
            <name>Yes_Reassign_Non_Complex</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.n2de__Last_distributed__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>formDTTimeIdleNonComplex</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Americord_Code_Flow_Settings.Opportunity_Stem_Cell_Recordtype_Id__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pre_enrollment_Comments__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Phone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sale_Type_Direct_or_Complex__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Direct</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.n2de__Last_distributed__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opp_Values_To_Allow_Reassign</targetReference>
            </connector>
            <label>Yes - Reassign - Non-Complex</label>
        </rules>
    </decisions>
    <description>This flow will check to determine if we need to reassign leads that have not been worked.</description>
    <environments>Default</environments>
    <formulas>
        <description>Formula that will be set when the day of the week is Saturday or Sunday</description>
        <name>formBooleanIsWeekend</name>
        <dataType>Boolean</dataType>
        <expression>if ( OR(
WEEKDAY(TODAY()) = 1,
WEEKDAY(TODAY()) = 7),TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <description>Formula that will hold a datetime idle limit</description>
        <name>formDTTimeIdle</name>
        <dataType>DateTime</dataType>
        <expression>Now()-{!Get_Americord_Code_Flow_Settings.Opportunity_Idle_Limit__c}</expression>
    </formulas>
    <formulas>
        <name>formDTTimeIdleNonComplex</name>
        <dataType>DateTime</dataType>
        <expression>Now()-{!Get_Americord_Code_Flow_Settings.Opportunity_Non_Complex_Idle_Limit__c}</expression>
    </formulas>
    <interviewLabel>ScheduledFlow: ReassignIdleLeads {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ScheduledFlow: ReassignIdleLeads</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the custom metadata values for code/flow.</description>
        <name>Get_Americord_Code_Flow_Settings</name>
        <label>Get Americord Code/Flow Settings</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_This_Lead_Been_Idle_Too_Long</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Americord_Flow_Settings__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Opportunity_Idle_Limit__c</queriedFields>
        <queriedFields>Opportunity_Stem_Cell_Recordtype_Id__c</queriedFields>
        <queriedFields>Idle_Opportunity_Owner_Id__c</queriedFields>
        <queriedFields>Opportunity_Non_Complex_Idle_Limit__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Set the opportunity values to allow Dist Engine to reassign opp.</description>
        <name>Set_Opp_Values_To_Allow_Reassign</name>
        <label>Set Opp Values To Allow Reassign</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Has_Been_Distributed__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Americord_Code_Flow_Settings.Idle_Opportunity_Owner_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>n2de__Is_distributed__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Determine_if_running_on_weekend</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Aircall_Dials__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-11-13</startDate>
            <startTime>01:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
