force-app/main/default/flows/Screen_Flow_Baby_Release_Sample.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_CB_Release_True</name>
        <label>Set CB Release True</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>GetCurrentBabyRecord.Released_CB2_0__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCurrentRecordWithReleaseValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_CT_Release_True</name>
        <label>Set CT Release True</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>GetCurrentBabyRecord.Released_CT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCurrentRecordWithReleaseValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This will set the values to compare vs. entered for validation.</description>
        <name>Set_LPI_Numbers_For_Release_Validation</name>
        <label>Set LPI Numbers For Release Validation</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>varTLPI_CB</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCurrentBabyRecord.LPI_CB__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTLPI_CT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCurrentBabyRecord.LPI_CT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTLPI_PT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCurrentBabyRecord.LPI_PT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTLPI_PT20</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCurrentBabyRecord.LPI_PT_2_0_Amnion__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Release_Confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PT_2_0_True</name>
        <label>Set PT 2.0 True</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>GetCurrentBabyRecord.Release_PT_2_0__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCurrentRecordWithReleaseValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PT_Release_True</name>
        <label>Set PT Release True</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>GetCurrentBabyRecord.Released_PT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCurrentRecordWithReleaseValues</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Determine if the value entered matches the current LPI.</description>
        <name>decValidateLPIMatched</name>
        <label>decValidateLPIMatched</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Release_Confirmation_Did_Not_Match</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Entered Value Does Not Match</defaultConnectorLabel>
        <rules>
            <name>LPI_CB_Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTLPI_CB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>txtCBLPIEntered</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>txtCBLPIEntered</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_CB_Release_True</targetReference>
            </connector>
            <label>LPI CB Matches</label>
        </rules>
        <rules>
            <name>LPI_CT_Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTLPI_CT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>txtCTLPIEntered</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>txtCTLPIEntered</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_CT_Release_True</targetReference>
            </connector>
            <label>LPI CT Matches</label>
        </rules>
        <rules>
            <name>LPI_PT_Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTLPI_PT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>txtPTLPIEntered</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>txtPTLPIEntered</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_PT_Release_True</targetReference>
            </connector>
            <label>LPI PT Matches</label>
        </rules>
        <rules>
            <name>LPI_PT_2_0_Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTLPI_PT20</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>txtPT20LPIEntered</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>txtPT20LPIEntered</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_PT_2_0_True</targetReference>
            </connector>
            <label>LPI PT 2.0 Matches</label>
        </rules>
    </decisions>
    <description>This flow will validate the sample that is getting released using the LPI number.</description>
    <environments>Default</environments>
    <interviewLabel>Screen Flow: Baby - Release Sample {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow: Baby - Release Sample</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>This will get the current baby record.</description>
        <name>GetCurrentBabyRecord</name>
        <label>GetCurrentBabyRecord</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_LPI_Numbers_For_Release_Validation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Baby__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates the release based on entered LPI.</description>
        <name>UpdateCurrentRecordWithReleaseValues</name>
        <label>UpdateCurrentRecordWithReleaseValues</label>
        <locationX>578</locationX>
        <locationY>854</locationY>
        <inputReference>GetCurrentBabyRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Release_Confirmation</name>
        <label>Release Confirmation</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>decValidateLPIMatched</targetReference>
        </connector>
        <fields>
            <name>disPromptForLPIs</name>
            <fieldText>&lt;p&gt;Enter the LPI for the sample you wish to release. You can only release one sample at a time.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>txtCBLPIEntered</name>
            <dataType>String</dataType>
            <fieldText>Enter CB LPI To Release</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>txtCTLPIEntered</name>
            <dataType>String</dataType>
            <fieldText>Enter CT LPI To Release</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>txtPTLPIEntered</name>
            <dataType>String</dataType>
            <fieldText>Enter PT LPI To Release</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>txtPT20LPIEntered</name>
            <dataType>String</dataType>
            <fieldText>Enter PT 2.0 To Release</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Release</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Release_Confirmation_Did_Not_Match</name>
        <label>Release Confirmation - Did Not Match</label>
        <locationX>1106</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateCurrentRecordWithReleaseValues</targetReference>
        </connector>
        <fields>
            <name>DisplayDidNotMatchText</name>
            <fieldText>&lt;p&gt;One of the LPI values you entered does not match and the record will sample will not be released.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCurrentBabyRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable for CB LPI.</description>
        <name>varTLPI_CB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable that will hold the CT LPI.</description>
        <name>varTLPI_CT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable to hold the PT LPI.</description>
        <name>varTLPI_PT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable to hold the LPI for PT 2.0.</description>
        <name>varTLPI_PT20</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
