force-app/main/default/flows/ScreenFlow_Opportunity_Swap_Contacts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Determine if there are contact 2 values populated.</description>
        <name>Are_There_Contact_2_Values</name>
        <label>Are There Contact 2 Values?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Confirmation_Swapping_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NO_Values_Missing</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetOpportunityRecord.Contact2_LastName__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOpportunityRecord.Contact2_FirstName__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOpportunityRecord.Contact2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOpportunityRecord.Contact2_Email__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOpportunityRecord.Contact2_Relation_to_Baby__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_2_Values_Missing</targetReference>
            </connector>
            <label>NO - Values Missing</label>
        </rules>
    </decisions>
    <description>This flow will swap contact 1 values with contact 2 and vice versa.</description>
    <environments>Default</environments>
    <interviewLabel>ScreenFlow: Opportunity - Swap Contacts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ScreenFlow: Opportunity - Swap Contacts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get the opportunity record for swapping contacts.</description>
        <name>GetOpportunityRecord</name>
        <label>GetOpportunityRecord</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_There_Contact_2_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the opportunity record for swapping contacts after the swap.</description>
        <name>GetOpportunityRecordAfter</name>
        <label>GetOpportunityRecordAfter</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Swapped_Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the opportunity to swap contact 1 &lt;&gt; Contact 2</description>
        <name>Update_Opportunity_for_Contact_Swap</name>
        <label>Update Opportunity for Contact Swap</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>GetOpportunityRecordAfter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact2_Email__c</field>
            <value>
                <elementReference>GetOpportunityRecord.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact2_FirstName__c</field>
            <value>
                <elementReference>GetOpportunityRecord.FirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact2_LastName__c</field>
            <value>
                <elementReference>GetOpportunityRecord.LastName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact2_Phone__c</field>
            <value>
                <elementReference>GetOpportunityRecord.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact2_Relation_to_Baby__c</field>
            <value>
                <elementReference>GetOpportunityRecord.Relation_to_Baby__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact2__c</field>
            <value>
                <elementReference>GetOpportunityRecord.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>GetOpportunityRecord.Contact2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>GetOpportunityRecord.Contact2_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName__c</field>
            <value>
                <elementReference>GetOpportunityRecord.Contact2_FirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName__c</field>
            <value>
                <elementReference>GetOpportunityRecord.Contact2_LastName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>GetOpportunityRecord.Contact2_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relation_to_Baby__c</field>
            <value>
                <elementReference>GetOpportunityRecord.Contact2_Relation_to_Baby__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Confirmation_Swapping_Contacts</name>
        <label>Confirmation Swapping Contacts</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Opportunity_for_Contact_Swap</targetReference>
        </connector>
        <fields>
            <name>SwapContactsConfirmMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Ready to Swap Contacts? &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 18px;&quot;&gt;﻿&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 14px;&quot;&gt;Contact 1 &amp;lt;--&amp;gt; Contact 2&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Opportunity Name: {!GetOpportunityRecord.Name}&lt;/p&gt;&lt;p&gt;Opportunity Id: {!GetOpportunityRecord.Id}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirmation_Swapping_Contacts_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirmation_Swapping_Contacts_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contact1Details</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;&lt;u&gt;CONTACT 1&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;First Name:&lt;/strong&gt; {!GetOpportunityRecord.FirstName__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Last Name:&lt;/strong&gt; {!GetOpportunityRecord.LastName__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Id: &lt;/strong&gt;{!GetOpportunityRecord.Contact__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Phone:&lt;/strong&gt; {!GetOpportunityRecord.Phone1__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Email: &lt;/strong&gt;{!GetOpportunityRecord.Email__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Relationship: &lt;/strong&gt;{!GetOpportunityRecord.Relation_to_Baby__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Email Opt Out: &lt;/strong&gt;{!GetOpportunityRecord.Email_Opt_Out__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Swapping_Contacts_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contact2Details</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;&lt;u&gt;CONTACT 2&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;First Name:&lt;/strong&gt; {!GetOpportunityRecord.Contact2_FirstName__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Last Name:&lt;/strong&gt; {!GetOpportunityRecord.Contact2_LastName__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Id:&lt;/strong&gt; {!GetOpportunityRecord.Contact2__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Phone:&lt;/strong&gt; {!GetOpportunityRecord.Contact2_Phone__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Email:&lt;/strong&gt; {!GetOpportunityRecord.Contact2_Email__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Relationship:&lt;/strong&gt; {!GetOpportunityRecord.Contact2_Relation_to_Baby__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Email Opt Out:&lt;/strong&gt; {!GetOpportunityRecord.Contact2_Email_Opt_Out__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>CloseWindowCancel</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Close window if you do not wish to swap contacts (Contact 1 &amp;lt;--&amp;gt; Contact 2).&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Swap Contacts</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contact_2_Values_Missing</name>
        <label>Contact 2 Values Missing</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CannotSwapContact2Blank</name>
            <fieldText>&lt;p&gt;Values for Contact 2 are blank/missing and we cannot swap - these fields need to be populated for Contact 1. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Populate the fields and try swapping again.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;u&gt;Contact 2&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Id:&lt;/strong&gt; {!GetOpportunityRecord.Contact2__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Firstname:&lt;/strong&gt; &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!GetOpportunityRecord.Contact2_FirstName__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Lastname:&lt;/strong&gt; &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!GetOpportunityRecord.Contact2_LastName__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Email:&lt;/strong&gt; &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!GetOpportunityRecord.Contact2_Email__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Relationship:  &lt;/strong&gt;{!GetOpportunityRecord.Contact2_Relation_to_Baby__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Success message for swap</description>
        <name>Swapped_Success</name>
        <label>Swapped Success</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessSwapTitle</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Swap Successful &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;﻿&lt;/span&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Contact 1 &amp;lt;--&amp;gt; Contact 2&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Opportunity Name: {!GetOpportunityRecord.Name}&lt;/p&gt;&lt;p&gt;Opportunity Id: {!GetOpportunityRecord.Id}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Swapped_Success_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Swapped_Success_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SuccessContact1</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;&lt;u&gt;CONTACT 1&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;First Name:&lt;/strong&gt; {!GetOpportunityRecordAfter.FirstName__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Last Name:&lt;/strong&gt; {!GetOpportunityRecordAfter.LastName__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Id: &lt;/strong&gt;{!GetOpportunityRecordAfter.Contact__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Phone:&lt;/strong&gt; {!GetOpportunityRecordAfter.Phone1__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Email: &lt;/strong&gt;{!GetOpportunityRecordAfter.Email__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Relationship: &lt;/strong&gt;{!GetOpportunityRecordAfter.Relation_to_Baby__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Email Opt Out: &lt;/strong&gt;{!GetOpportunityRecordAfter.Email_Opt_Out__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Swapped_Success_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SuccessContact2</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;&lt;u&gt;CONTACT 2&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;First Name:&lt;/strong&gt; {!GetOpportunityRecordAfter.Contact2_FirstName__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Last Name:&lt;/strong&gt; {!GetOpportunityRecordAfter.Contact2_LastName__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Id:&lt;/strong&gt; {!GetOpportunityRecordAfter.Contact2__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Phone:&lt;/strong&gt; {!GetOpportunityRecordAfter.Contact2_Phone__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Email:&lt;/strong&gt; {!GetOpportunityRecordAfter.Contact2_Email__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Relationship:&lt;/strong&gt; {!GetOpportunityRecordAfter.Contact2_Relation_to_Baby__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Email Opt Out:&lt;/strong&gt; {!GetOpportunityRecordAfter.Contact2_Email_Opt_Out__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetOpportunityRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Record ID for the Opportunity Record.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
