force-app/main/default/flows/ScreenFlow_Send_Portal_Email_To_Client.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Log completed task for sending the portal email to client.</description>
        <name>Log_Completed_Task_On_Invoice</name>
        <label>Log Completed Task On Invoice</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Sent_Portal_Email_To_Client</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>Get_Invoice_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Sent Client Portal Email</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>This action will call the email alert to send the client portal email.</description>
        <name>Send_Client_Portal_Email</name>
        <label>Send Client Portal Email</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>fw1__Invoice__c.Send_Client_Portal_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Log_Completed_Task_On_Invoice</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>fw1__Invoice__c.Send_Client_Portal_Email</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>This flow will send an email to the client with details on how to register a new account in the portal.</description>
    <environments>Default</environments>
    <interviewLabel>ScreenFlow: Send Portal Email To Client {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ScreenFlow: Send Portal Email To Client</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get the record for the current order</description>
        <name>Get_Invoice_Record</name>
        <label>Get Invoice Record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Portal_Email_To_Client</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>fw1__Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>This screen will allow the user to cancel</description>
        <name>Send_Portal_Email_To_Client</name>
        <label>Send Portal Email To Client</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Send_Client_Portal_Email</targetReference>
        </connector>
        <fields>
            <name>ConfirmToSendRevisedOrderToClient</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Are you sure you wish to send an email to the client for the new portal login? &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Email will be sent to: &lt;/span&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Invoice_Record.Mother_s_Email__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Click Next to proceed or Close this window to cancel.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Confirmation screen that we sent a revised email to the client.</description>
        <name>Sent_Portal_Email_To_Client</name>
        <label>Sent Portal Email To Client</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Sent_Email_Confirmation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;We sent the client an email to allow them to setup a new portal account. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Email was sent to:&lt;/span&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Invoice_Record.Mother_s_Email__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Invoice_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>This is the invoice id to be used for the email alert of revised order.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
