force-app/main/default/flows/ScreenFlow_Opportunity_Lifetime_Upgrade_Complete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>This action will navigate to the new Upgrade Invoice.</description>
        <name>Open_Invoice</name>
        <label>Open Invoice</label>
        <locationX>50</locationX>
        <locationY>2354</locationY>
        <actionName>c:OpenRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Create_Lifetime_Upgrade_Invoice</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:OpenRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assign the invoice line record to the inv line collection.</description>
        <name>Assign_Inv_Line_Record_To_Collection</name>
        <label>Assign Inv Line Record To Collection</label>
        <locationX>138</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>varCollectionInvoiceLine</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varRecInvoiceLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Opp_Product_Recs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the values for the invoice line from the opp product rec</description>
        <name>Assign_Invoice_Line_Values</name>
        <label>Assign Invoice Line Values</label>
        <locationX>138</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>varRecInvoiceLine.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Opp_Product_Recs.Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecInvoiceLine.fw1__Product2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Opp_Product_Recs.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecInvoiceLine.fw1__Price_Book__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Opp_Product_Recs.PricebookEntry.Pricebook2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecInvoiceLine.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Opp_Product_Recs.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecInvoiceLine.fw1__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Opp_Product_Recs.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecInvoiceLine.Product_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Opp_Product_Recs.ProductCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecInvoiceLine.fw1__Unit_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Opp_Product_Recs.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecInvoiceLine.fw1__Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Lifetime_Upgrade_Invoice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Inv_Line_Record_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the product names to the product collection</description>
        <name>Assign_Products_Names_to_Collection</name>
        <label>Assign Products Names to Collection</label>
        <locationX>138</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varTCollListOfOppProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_Opp_Products_For_LIsting.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Opp_Products_For_LIsting</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Lead source for the new opportunity.</description>
        <name>constTLeadSource</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Lifetime Upgrade EC</stringValue>
        </value>
    </constants>
    <constants>
        <description>This is the new opportunity&apos;s stage.</description>
        <name>constTNewOppStage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Upgraded</stringValue>
        </value>
    </constants>
    <constants>
        <description>Storage plan for the new opp.</description>
        <name>constTStoragePlan</name>
        <dataType>String</dataType>
        <value>
            <stringValue>LTS</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Determine if the opportunity is already in the Upgraded stage.</description>
        <name>Is_Opportunity_Already_Upgraded</name>
        <label>Is Opportunity Already Upgraded</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Already_Upgraded</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Opportunity Already Upgraded</defaultConnectorLabel>
        <rules>
            <name>Opportunity_is_not_upgraded_yet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetSourceOpportunityRecord.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>constTNewOppStage</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Default_Pricebook</targetReference>
            </connector>
            <label>Opportunity is not upgraded yet</label>
        </rules>
    </decisions>
    <description>This is the 2nd step of upgrading an existing client to Lifetime storage.</description>
    <dynamicChoiceSets>
        <description>This are the available payment plans.</description>
        <name>PaymentPlan</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Payment_Plans__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>List of active storage products in the default pricebook.</description>
        <name>recchoiceStorageProducts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Default_Pricebook.Current_Price_Book__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Storage</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Lifetime</stringValue>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputAssignments>
            <assignToReference>varTSelectedStorageProductId</assignToReference>
            <field>Product2Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>This is the URL to create the installments for the new invoice.</description>
        <name>formTInstallmentsURL</name>
        <dataType>String</dataType>
        <expression>&apos;/apex/fw1__ConfigureInstallment?id=&apos;+{!Create_Lifetime_Upgrade_Invoice}+&apos;&amp;iscustom=false&apos;</expression>
    </formulas>
    <formulas>
        <description>The related account id for the new opportunity.</description>
        <name>formTNewOppAccountId</name>
        <dataType>String</dataType>
        <expression>{!GetSourceOpportunityRecord.AccountId}</expression>
    </formulas>
    <formulas>
        <description>The account name for the new opportunity.</description>
        <name>formTNewOppAccountName</name>
        <dataType>String</dataType>
        <expression>{!GetSourceOpportunityRecord.Account.Name}</expression>
    </formulas>
    <formulas>
        <description>This is the name of the new lifetime opportunity</description>
        <name>formTNewOppName</name>
        <dataType>String</dataType>
        <expression>{!GetSourceOpportunityRecord.Account.Name}+&quot; - Lifetime Upgrade - &quot;+TEXT(YEAR({!GetSourceOpportunityRecord.Baby_s_Due_Date__c}))</expression>
    </formulas>
    <formulas>
        <description>Formula that will display todays date</description>
        <name>formTodaysDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <description>This is the name of the primary contact.</description>
        <name>formTPrimaryContactName</name>
        <dataType>String</dataType>
        <expression>{!GetSourceOpportunityRecord.FirstName__c}+&quot; &quot;+{!GetSourceOpportunityRecord.LastName__c}</expression>
    </formulas>
    <formulas>
        <description>This is the primary contact record id.</description>
        <name>formTPrimaryContactRecordId</name>
        <dataType>String</dataType>
        <expression>{!GetSourceOpportunityRecord.Contact__r.Id}</expression>
    </formulas>
    <formulas>
        <description>This is the name of the secondary contact.</description>
        <name>formTSecondaryContactName</name>
        <dataType>String</dataType>
        <expression>if(not(isNull({!GetSourceOpportunityRecord.Contact2__c})),{!GetSourceOpportunityRecord.Contact2_FirstName__c}+&quot; &quot;+{!GetSourceOpportunityRecord.Contact2_LastName__c},&quot;No Secondary Contact&quot;)</expression>
    </formulas>
    <formulas>
        <description>This is the secondary contact record id.</description>
        <name>formTSecondaryContactRecordId</name>
        <dataType>String</dataType>
        <expression>{!GetSourceOpportunityRecord.Contact2__r.Id}</expression>
    </formulas>
    <interviewLabel>ScreenFlow: Opportunity Lifetime Upgrade Complete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ScreenFlow: Opportunity Lifetime Upgrade Complete</label>
    <loops>
        <description>Loop over the opportunity product records</description>
        <name>Loop_Over_Opp_Product_Recs</name>
        <label>Loop Over Opp Product Recs</label>
        <locationX>50</locationX>
        <locationY>1622</locationY>
        <collectionReference>Get_Opportunity_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Invoice_Line_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Invoice_Line_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>This loop will loop over the opp products to get the list of products.</description>
        <name>Loop_Over_Opp_Products_For_LIsting</name>
        <label>Loop Over Opp Products For LIsting</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <collectionReference>Get_Opportunity_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Products_Names_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Lifetime_Upgrade</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create the invoice line records using the collection.</description>
        <name>Create_Invoice_Line_Records</name>
        <label>Create Invoice Line Records</label>
        <locationX>50</locationX>
        <locationY>2030</locationY>
        <connector>
            <targetReference>Update_Payment_and_Set_Invoice_Upgrade</targetReference>
        </connector>
        <inputReference>varCollectionInvoiceLine</inputReference>
    </recordCreates>
    <recordCreates>
        <description>This step will create the new Invoice/CBO for the Lifetime upgrade.</description>
        <name>Create_Lifetime_Upgrade_Invoice</name>
        <label>Create Lifetime Upgrade Invoice</label>
        <locationX>50</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>Loop_Over_Opp_Product_Recs</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact_2__c</field>
            <value>
                <elementReference>GetOriginalOrder.Contact_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cord_Blood_2_0_Stored__c</field>
            <value>
                <elementReference>GetOriginalOrder.Cord_Blood_2_0_Stored__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cord_Tissue_Stored__c</field>
            <value>
                <elementReference>GetOriginalOrder.Cord_Tissue_Stored__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exosomes_Stored__c</field>
            <value>
                <elementReference>GetOriginalOrder.Exosomes_Stored__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Order__c</field>
            <value>
                <elementReference>GetOriginalOrder.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Plan_Stored__c</field>
            <value>
                <elementReference>PaymentPlanChoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Placenta_2_0_Stored__c</field>
            <value>
                <elementReference>GetOriginalOrder.Placenta_2_0_Stored__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetInvoiceUpgradeRecordtype.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_Plan_Stored__c</field>
            <value>
                <stringValue>LTS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Upgrade_Opportunity__c</field>
            <value>
                <elementReference>GetSourceOpportunityRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Upgrade__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fw1__Account__c</field>
            <value>
                <elementReference>GetOriginalOrder.fw1__Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fw1__Contact__c</field>
            <value>
                <elementReference>GetOriginalOrder.fw1__Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fw1__Invoice_Date__c</field>
            <value>
                <elementReference>formTodaysDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fw1__Payment_Profile__c</field>
            <value>
                <elementReference>GetOriginalOrder.fw1__Payment_Profile__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>fw1__Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get the default pricebook to use to lookup the correct products.</description>
        <name>Get_Default_Pricebook</name>
        <label>Get Default Pricebook</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetOriginalOrder</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Americord_Settings__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the pricebook entry record selected from the screen</description>
        <name>Get_Lifetime_Storage_Price_Book_Entry_Selected</name>
        <label>Get Lifetime Storage Price Book Entry Selected</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Lifetime_Upgrade_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTSelectedStorageProductId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Default_Pricebook.Current_Price_Book__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Opportunity Products from the Lifetime Upgrade Opp</description>
        <name>Get_Opportunity_Products</name>
        <label>Get Opportunity Products</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Opp_Products_For_LIsting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetSourceOpportunityRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payments_from_Upgrade_Opportunity</name>
        <label>Get Payments from Upgrade Opportunity</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>fw1__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetSourceOpportunityRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>fw1__Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the CBO recordtypeid for the Upgrade RT.</description>
        <name>GetInvoiceUpgradeRecordtype</name>
        <label>GetInvoiceUpgradeRecordtype</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Payments_from_Upgrade_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>fw1__Invoice__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Upgrade</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the original CBO/Invoice associated with the source Opportunity.</description>
        <name>GetOriginalOrder</name>
        <label>GetOriginalOrder</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetInvoiceUpgradeRecordtype</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetSourceOpportunityRecord.Original_Order__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>fw1__Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the original/parent opportunity using the passed in recordid.</description>
        <name>GetSourceOpportunityRecord</name>
        <label>GetSourceOpportunityRecord</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Opportunity_Already_Upgraded</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Payment_and_Set_Invoice_Upgrade</name>
        <label>Update Payment and Set Invoice Upgrade</label>
        <locationX>50</locationX>
        <locationY>2138</locationY>
        <connector>
            <targetReference>Lifetime_Upgrade_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Payments_from_Upgrade_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>fw1__Invoice__c</field>
            <value>
                <elementReference>Create_Lifetime_Upgrade_Invoice</elementReference>
            </value>
        </inputAssignments>
        <object>fw1__Payment__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update the Upgrade Opp to the Upgraded Stage.</description>
        <name>UpdateUpgradeOpp</name>
        <label>UpdateUpgradeOpp</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Get_Lifetime_Storage_Price_Book_Entry_Selected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetSourceOpportunityRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>constTNewOppStage</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <description>Display error that opp is already upgraded.</description>
        <name>Already_Upgraded</name>
        <label>Already Upgraded</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MessageOppAlreadyUpgraded</name>
            <fieldText>&lt;p&gt;This opportunity is already upgraded.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Lifetime_Upgrade</name>
        <label>Lifetime Upgrade</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateUpgradeOpp</targetReference>
        </connector>
        <fields>
            <name>Intro</name>
            <fieldText>&lt;p&gt;This process will create a lifetime Invoice and Invoice Line&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Source_Opp</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Upgrade Opportunity: &lt;/strong&gt;{!GetSourceOpportunityRecord.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NewOpportunityStage</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;New Opportunity Stage: &lt;/strong&gt;{!constTNewOppStage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PrimaryContact</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Primary Contact: &lt;/strong&gt;{!formTPrimaryContactName} ({!formTPrimaryContactRecordId})&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SecondaryContact</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Secondary Contact: &lt;/strong&gt;{!formTSecondaryContactName} ({!formTSecondaryContactRecordId})&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NewOppAccount</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Account:&lt;/strong&gt; {!formTNewOppAccountName} ({!formTNewOppAccountId})&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NewOppStoragePlan</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Storage Plan:&lt;/strong&gt; {!constTStoragePlan}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PaymentPlanChoice</name>
            <choiceReferences>PaymentPlan</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetSourceOpportunityRecord.Payment_Plans__c</elementReference>
            </defaultValue>
            <fieldText>Payment Plan</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CurrentServicesSelected</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Here is the list of services: &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!varTCollListOfOppProducts}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Lifetime_Upgrade_Status</name>
        <label>Lifetime Upgrade Status</label>
        <locationX>50</locationX>
        <locationY>2246</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Open_Invoice</targetReference>
        </connector>
        <fields>
            <name>UpgradeStatus</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;Opportunity Stage -&amp;gt; Upgraded&lt;/li&gt;&lt;li&gt;New Invoice Created&lt;/li&gt;&lt;li&gt;New Invoice LIne Created&lt;/li&gt;&lt;li&gt;Be sure to create the installments by &lt;a href=&quot;{!formTInstallmentsURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;clicking here&lt;/a&gt;.&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Click the Next button to navigate to the new Opportunity.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetSourceOpportunityRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Opportunity Record Id to be used for the upgrade.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This variable will hold the collection of invoice lines for insert.</description>
        <name>varCollectionInvoiceLine</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>fw1__Invoice_Line__c</objectType>
    </variables>
    <variables>
        <description>This variable will hold the values of the individual invoice line record.</description>
        <name>varRecInvoiceLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>fw1__Invoice_Line__c</objectType>
    </variables>
    <variables>
        <description>Variable that will hold the list of opportunity products</description>
        <name>varTCollListOfOppProducts</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This will be the selected Product Id for the selected storage product.</description>
        <name>varTSelectedStorageProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
