force-app/main/default/flows/Update_Invoice_Line_Bundle_Savings.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <interviewLabel>Update Invoice Line Bundle Savings {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Invoice Line Bundle Savings</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity_Line_Detail</name>
        <label>Get Opportunity Line Detail</label>
        <locationX>234</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Invoice_Line</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityLineId</elementReference>
            </value>
        </filters>
        <filters>
            <field>No_Bundle_Savings__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>opportunityLine</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Bundle_Savings_new__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Invoice_Line</name>
        <label>Update Invoice Line</label>
        <locationX>234</locationX>
        <locationY>236</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invoiceLineId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>fw1__Discount_Amount__c</field>
            <value>
                <elementReference>opportunityLine.Bundle_Savings_new__c</elementReference>
            </value>
        </inputAssignments>
        <object>fw1__Invoice_Line__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Opportunity_Line_Detail</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>invoiceLineId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>opportunityLineId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
