force-app/main/default/flows/Update_Lead_With_Product_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <interviewLabel>Update Lead With Product Details Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Lead With Product Details Flow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_pricebook</name>
        <label>Lookup pricebook</label>
        <locationX>172</locationX>
        <locationY>274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vProductId</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputAssignments>
            <assignToReference>vUnitPrice</assignToReference>
            <field>UnitPrice</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_product_name</name>
        <label>Lookup product name</label>
        <locationX>175</locationX>
        <locationY>149</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_pricebook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vProductId</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>vProductName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_lead</name>
        <label>Update lead</label>
        <locationX>373</locationX>
        <locationY>274</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vLeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Product_List_Price1__c</field>
            <value>
                <elementReference>vUnitPrice</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <startElementReference>Lookup_product_name</startElementReference>
    <status>Active</status>
    <variables>
        <name>vLeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vProductName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vUnitPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
