force-app/main/default/flows/Update_Baby_Sample_Status_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_current_record_to_Update_Collection</name>
        <label>Set current record to Update Collection</label>
        <locationX>572</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varBabyRecordsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_the_baby_records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_the_baby_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_Fields_For_Current_Record</name>
        <label>Set Status Fields For Current Record</label>
        <locationX>572</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Loop_over_the_baby_records.Exosome_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forTExosomeStatusForCurrRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_over_the_baby_records.LPI_CB_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forTCBStatusForCurrRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_over_the_baby_records.LPI_CT_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forTCTStatusForCurrRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_over_the_baby_records.LPI_PT_2_0_Amnion_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forTPT20StatusForCurrRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_over_the_baby_records.LPI_PT_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forTPTStatusForCurrRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_current_record_to_Update_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Determine if the values have changed</description>
        <name>Have_Values_Changed</name>
        <label>Have Values Changed</label>
        <locationX>704</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Loop_over_the_baby_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO - Values Unchanged</defaultConnectorLabel>
        <rules>
            <name>YES_Values_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_the_baby_records.Exosome_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>forTExosomeStatusForCurrRecord</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_over_the_baby_records.LPI_CB_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>forTCBStatusForCurrRecord</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_over_the_baby_records.LPI_CT_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>forTCTStatusForCurrRecord</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_over_the_baby_records.LPI_PT_2_0_Amnion_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>forTPT20StatusForCurrRecord</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_over_the_baby_records.LPI_PT_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>forTPTStatusForCurrRecord</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_Fields_For_Current_Record</targetReference>
            </connector>
            <label>YES - Values Changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to see if the value on MBD Result field is set to Other Restriction</description>
        <name>Is_MBD_Result_Set_To_Other_Restriction</name>
        <label>Is MBD Result Set To Other Restriction?</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Baby_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Other Restriction</defaultConnectorLabel>
        <rules>
            <name>Other_Restriction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lab_Record.MBD_Results__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other Restriction</stringValue>
                </rightValue>
            </conditions>
            <label>Other Restriction</label>
        </rules>
    </decisions>
    <description>This flow will update the baby status fields based on the stored value and the MBD result.</description>
    <environments>Default</environments>
    <formulas>
        <description>Formula to set the status for the CB on Baby</description>
        <name>forTCBStatusForCurrRecord</name>
        <dataType>String</dataType>
        <expression>if(NOT({!Loop_over_the_baby_records.Cord_Blood_Cryogenically_Preserved__c}),NULL,
	if (
		and(
			{!Loop_over_the_baby_records.Cord_Blood_Cryogenically_Preserved__c},
			ISPICKVAL({!Get_Lab_Record.MBD_Results__c}, &apos;Negative indication&apos;) 
		),&apos;Permanent Storage&apos;,&apos;QUARANTINED&apos;
	)
)</expression>
    </formulas>
    <formulas>
        <description>Function to set the status CT</description>
        <name>forTCTStatusForCurrRecord</name>
        <dataType>String</dataType>
        <expression>if(NOT({!Loop_over_the_baby_records.Cord_Tissue_Cryogenically_Preserved__c}),NULL,
	if (
		and(
			{!Loop_over_the_baby_records.Cord_Tissue_Cryogenically_Preserved__c},
			ISPICKVAL({!Get_Lab_Record.MBD_Results__c}, &apos;Negative indication&apos;) 
		),&apos;Permanent Storage&apos;,&apos;QUARANTINED&apos;
	)
)</expression>
    </formulas>
    <formulas>
        <description>Formula to set the status for the current record - Exosome</description>
        <name>forTExosomeStatusForCurrRecord</name>
        <dataType>String</dataType>
        <expression>if(NOT({!Loop_over_the_baby_records.Exosomes_Cryogenically_Preserved__c}),NULL,
	if (
		and(
			{!Loop_over_the_baby_records.Exosomes_Cryogenically_Preserved__c},
			ISPICKVAL({!Get_Lab_Record.MBD_Results__c}, &apos;Negative indication&apos;) 
		),&apos;Permanent Storage&apos;,&apos;QUARANTINED&apos;
	)
)</expression>
    </formulas>
    <formulas>
        <description>Formula for the PT2 status</description>
        <name>forTPT20StatusForCurrRecord</name>
        <dataType>String</dataType>
        <expression>if(NOT({!Loop_over_the_baby_records.Placenta_2_0_Am_Cryogenically_Preserved__c}),NULL,
	if (
		and(
			{!Loop_over_the_baby_records.Placenta_2_0_Am_Cryogenically_Preserved__c},
			ISPICKVAL({!Get_Lab_Record.MBD_Results__c}, &apos;Negative indication&apos;) 
		),&apos;Permanent Storage&apos;,&apos;QUARANTINED&apos;
	)
)</expression>
    </formulas>
    <formulas>
        <description>Formula to determine the status of the PT sample</description>
        <name>forTPTStatusForCurrRecord</name>
        <dataType>String</dataType>
        <expression>if(NOT({!Loop_over_the_baby_records.Placenta_Tissue_Cryogenically_Preserved__c}),NULL,
	if (
		and(
			{!Loop_over_the_baby_records.Placenta_Tissue_Cryogenically_Preserved__c},
			ISPICKVAL({!Get_Lab_Record.MBD_Results__c}, &apos;Negative indication&apos;) 
		),&apos;Permanent Storage&apos;,&apos;QUARANTINED&apos;
	)
)</expression>
    </formulas>
    <interviewLabel>Update Baby Sample Status Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Baby Sample Status Fields</label>
    <loops>
        <description>Loop over the baby records</description>
        <name>Loop_over_the_baby_records</name>
        <label>Loop over the baby records</label>
        <locationX>484</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Baby_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Have_Values_Changed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Baby_Records_using_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the baby records associated with the lab.</description>
        <name>Get_Baby_Records</name>
        <label>Get Baby Records</label>
        <locationX>484</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_the_baby_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lab__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLabId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Baby__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the lab record for the baby status update.</description>
        <name>Get_Lab_Record</name>
        <label>Get Lab Record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_MBD_Result_Set_To_Other_Restriction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLabId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lab__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Baby_Records_using_Collection</name>
        <label>Update Baby Records using Collection</label>
        <locationX>484</locationX>
        <locationY>1058</locationY>
        <inputReference>varBabyRecordsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lab_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Collection of baby records for bulk update</description>
        <name>varBabyRecordsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Baby__c</objectType>
    </variables>
    <variables>
        <description>Lab Id that can be used for the lookup of the record</description>
        <name>varLabId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
