force-app/main/default/flows/Update_Case_with_Cord_Blood_Order_and_Lab_LU.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <interviewLabel>Update Case with Cord Blood Order and Lab LU {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Case with Cord Blood Order, Lab and Baby Lookups</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Baby_Lookup</name>
        <label>Baby Lookup</label>
        <locationX>249</locationX>
        <locationY>426</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lab__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLab</elementReference>
            </value>
        </filters>
        <object>Baby__c</object>
        <outputAssignments>
            <assignToReference>varBaby</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get Account ID and Case ID from Case</description>
        <name>Case_Lookup</name>
        <label>Case Lookup</label>
        <locationX>244</locationX>
        <locationY>123</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cord_Blood_Order_Lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>varAccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCaseID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Cord_Blood_Order_Lookup</name>
        <label>Cord Blood Order Lookup</label>
        <locationX>246</locationX>
        <locationY>218</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lab_Lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>fw1__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <object>fw1__Invoice__c</object>
        <outputAssignments>
            <assignToReference>varCordBloodOrderID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lab_Lookup</name>
        <label>Lab Lookup</label>
        <locationX>246</locationX>
        <locationY>328</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Baby_Lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cord_Blood_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCordBloodOrderID</elementReference>
            </value>
        </filters>
        <object>Lab__c</object>
        <outputAssignments>
            <assignToReference>varLab</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCase</name>
        <label>UpdateCase</label>
        <locationX>255</locationX>
        <locationY>526</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Baby__c</field>
            <value>
                <elementReference>varBaby</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cord_Blood_Order__c</field>
            <value>
                <elementReference>varCordBloodOrderID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lab__c</field>
            <value>
                <elementReference>varLab</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>Case_Lookup</startElementReference>
    <status>Active</status>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varBaby</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Collects Account ID and Case ID from Case</description>
        <name>varCase</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varCordBloodOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLab</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
