force-app/main/default/flows/Update_Baby_For_Fulfillment_Changes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>This will add the new record to list for update.</description>
        <name>Add_Family_Member_Record_To_List</name>
        <label>Add Family Member Record To List</label>
        <locationX>534</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>varRecFamilyMemberCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varRecFamilyMemberSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_family_member_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This will set the values for the family member records.</description>
        <name>Assign_values_to_Family_Member_Record</name>
        <label>Assign values to Family Member Record</label>
        <locationX>666</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>varNumberFamilyMemberCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecFamilyMemberSingle.Kit_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formTFamilyMemberClientId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecFamilyMemberSingle.Kit_Expiration_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecLab.Kit_Expiration_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecFamilyMemberSingle.Kit_Lot_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecLab.Kit_Lot_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecFamilyMemberSingle.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_family_member_records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Did_Fulfillment_Info_Change</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check to see if fulfillment info changed</description>
        <name>Did_Fulfillment_Info_Change</name>
        <label>Did Fulfillment Info Change?</label>
        <locationX>666</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Loop_over_family_member_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Fulfillment Change for FM</defaultConnectorLabel>
        <rules>
            <name>Yes_Fulfillment_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_family_member_records.Kit_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>formTFamilyMemberClientId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_over_family_member_records.Kit_Expiration_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varRecLab.Kit_Expiration_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_over_family_member_records.Kit_Lot_Number__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varRecLab.Kit_Lot_Number__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Family_Member_Record_To_List</targetReference>
            </connector>
            <label>Yes Fulfillment Changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine if we are updating for single, twins or trips based on number of births.</description>
        <name>Update_Single_Twins_or_Triplets</name>
        <label>Update Single, Twins or Triplets</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Twin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecLab.Number_of_Births__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Twins</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_BabyA_Records_for_Twins</targetReference>
            </connector>
            <label>Twin</label>
        </rules>
        <rules>
            <name>Triplets</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecLab.Number_of_Births__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Triplets</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_BabyA_Records_for_Trips</targetReference>
            </connector>
            <label>Triplets</label>
        </rules>
        <rules>
            <name>Single</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecLab.Number_of_Births__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Single</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Baby_Records_for_Single</targetReference>
            </connector>
            <label>Single</label>
        </rules>
    </decisions>
    <description>This flow will update the baby records for single, twin, trip baby.</description>
    <environments>Default</environments>
    <formulas>
        <description>This formula will provide the new family member client id to make it unique.</description>
        <name>formTFamilyMemberClientId</name>
        <dataType>String</dataType>
        <expression>{!varRecLab.Certificate_ID__c}+&quot;FM&quot;+TEXT({!varNumberFamilyMemberCounter})</expression>
    </formulas>
    <interviewLabel>UPdate Baby For Fulfillment Changes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Baby For Fulfillment Changes</label>
    <loops>
        <description>Loop over family member records for update.</description>
        <name>Loop_over_family_member_records</name>
        <label>Loop over family member records</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <collectionReference>Get_Family_Member_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_values_to_Family_Member_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_family_member_records_in_collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get associated family member records</description>
        <name>Get_Family_Member_Records</name>
        <label>Get Family Member Records</label>
        <locationX>446</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_family_member_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Family Member</stringValue>
            </value>
        </filters>
        <filters>
            <field>Lab__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecLab.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Baby__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Baby_Records_for_Single</name>
        <label>Update Baby Records for Single</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Get_Family_Member_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lab__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecLab.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Baby</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Kit_Expiration_Date__c</field>
            <value>
                <elementReference>varRecLab.Kit_Expiration_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kit_ID__c</field>
            <value>
                <elementReference>varRecLab.Certificate_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kit_Lot_Number__c</field>
            <value>
                <elementReference>varRecLab.Kit_Lot_Number__c</elementReference>
            </value>
        </inputAssignments>
        <object>Baby__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_BabyA_Records_for_Trips</name>
        <label>Update BabyA Records for Trips</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Update_BabyB_Records_for_Trips</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Baby A</stringValue>
            </value>
        </filters>
        <filters>
            <field>Lab__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecLab.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Kit_Expiration_Date__c</field>
            <value>
                <elementReference>varRecLab.Kit_Expiration_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kit_ID__c</field>
            <value>
                <elementReference>varRecLab.Certificate_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kit_Lot_Number__c</field>
            <value>
                <elementReference>varRecLab.Kit_Lot_Number__c</elementReference>
            </value>
        </inputAssignments>
        <object>Baby__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_BabyA_Records_for_Twins</name>
        <label>Update BabyA Records for Twins</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Update_BabyB_Records_for_Twins</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Baby A</stringValue>
            </value>
        </filters>
        <filters>
            <field>Lab__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecLab.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Kit_Expiration_Date__c</field>
            <value>
                <elementReference>varRecLab.Kit_Expiration_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kit_ID__c</field>
            <value>
                <elementReference>varRecLab.Certificate_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kit_Lot_Number__c</field>
            <value>
                <elementReference>varRecLab.Kit_Lot_Number__c</elementReference>
            </value>
        </inputAssignments>
        <object>Baby__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_BabyB_Records_for_Trips</name>
        <label>Update BabyB Records for Trips</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Update_BabyC_Records_for_Trips</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Baby B</stringValue>
            </value>
        </filters>
        <filters>
            <field>Lab__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecLab.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Kit_Expiration_Date__c</field>
            <value>
                <elementReference>varRecLab.Baby_B_Kit_Expiration_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kit_ID__c</field>
            <value>
                <elementReference>varRecLab.Baby_B_Kit_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kit_Lot_Number__c</field>
            <value>
                <elementReference>varRecLab.Baby_B_Kit_Lot_Number__c</elementReference>
            </value>
        </inputAssignments>
        <object>Baby__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_BabyB_Records_for_Twins</name>
        <label>Update BabyB Records for Twins</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Get_Family_Member_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Baby B</stringValue>
            </value>
        </filters>
        <filters>
            <field>Lab__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecLab.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Kit_Expiration_Date__c</field>
            <value>
                <elementReference>varRecLab.Baby_B_Kit_Expiration_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kit_ID__c</field>
            <value>
                <elementReference>varRecLab.Baby_B_Kit_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kit_Lot_Number__c</field>
            <value>
                <elementReference>varRecLab.Baby_B_Kit_Lot_Number__c</elementReference>
            </value>
        </inputAssignments>
        <object>Baby__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_BabyC_Records_for_Trips</name>
        <label>Update BabyC Records for Trips</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Get_Family_Member_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Baby C</stringValue>
            </value>
        </filters>
        <filters>
            <field>Lab__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecLab.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Kit_Expiration_Date__c</field>
            <value>
                <elementReference>varRecLab.Baby_C_Kit_Expiration_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kit_ID__c</field>
            <value>
                <elementReference>varRecLab.Baby_C_Kit_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kit_Lot_Number__c</field>
            <value>
                <elementReference>varRecLab.Baby_C_Kit_Lot_Number__c</elementReference>
            </value>
        </inputAssignments>
        <object>Baby__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update the records in the collection of family members.</description>
        <name>Update_family_member_records_in_collection</name>
        <label>Update family member records in collection</label>
        <locationX>446</locationX>
        <locationY>1358</locationY>
        <inputReference>varRecFamilyMemberCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Single_Twins_or_Triplets</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Variable will hold the counter for family member records.</description>
        <name>varNumberFamilyMemberCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>This variable will hold the list of family member records to update</description>
        <name>varRecFamilyMemberCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Baby__c</objectType>
    </variables>
    <variables>
        <description>This variable will hold the values for a single family member (baby) record.</description>
        <name>varRecFamilyMemberSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Baby__c</objectType>
    </variables>
    <variables>
        <description>Variable that will hold the lab record.</description>
        <name>varRecLab</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lab__c</objectType>
    </variables>
</Flow>
